<div class="site-wrapper">
    <div class="container">

        <div class="row" ng-controller="UserprofileCtrl">

            <div class="col-md-5">

                <div class="userprofile">
                    <div class="userprofile__username">
                        {{ profile.user.username }}
                    </div>
                </div>

                <div class="userprofile">
                    <div class="userprofile__name">
                        {{ profile.user.first_name }} {{ profile.user.last_name }}
                    </div>
                </div>

                <div class="userprofile">
                    <div class="userprofile__membership">
                        <span class="userprofile__label">Member since</span> {{ profile.membership_date || "?" | timeSince }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
