{% extends 'iobserve/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block extra_head_block %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock extra_head_block %}

{% block body_block %}

<div class="container">
  <div class="row">
    <h1>{% blocktrans %}logoutHeader{% endblocktrans %}</h1>
    <p>{% blocktrans %}logoutThanks{% endblocktrans %}
       <a href="/accounts/login/">{% blocktrans %}logoutNextTime{% endblocktrans %}</a></p>
  </div>
</div>

{% endblock %}
