{% extends 'ecliptis/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block extra_head_block %}
  <link rel="stylesheet" href="{% static 'css/register.css' %}" />
{% endblock extra_head_block %}

{% block body_block %}

	<div class="container">
    <div class="row">
      <form class="form-signin" role="form" method="post" action="">
        <h1>{% blocktrans %}registerHeader{% endblocktrans %}</h1>
      	{% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger fade in alert-dismissable">{% blocktrans %}correctErrors{% endblocktrans %}: {{ form.non_field_errors }}</div>
        {% endif %}
        <dl>
        <dt><label for="id_username">{% blocktrans %}Username{% endblocktrans %}:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.username }}</dd>
        <dt><label for="id_email">{% blocktrans %}Email{% endblocktrans %}:</label>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.email }}</dd>
        <dt><label for="id_password1">{% blocktrans %}Password1{% endblocktrans %}:</label>{% if form.password1.errors %} <span class="error">{{ form.password1.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.password1 }}</dd>
        <dt><label for="id_password2">{% blocktrans %}Password2{% endblocktrans %}:</label>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
        <dd>{{ form.password2 }}</dd>
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="width:200px;height:50px">{% blocktrans %}Register{% endblocktrans %}</button>
        </dl>
        <br/><p class="lead">{% blocktrans %}whyHeader{% endblocktrans %}</p>
        {% blocktrans %}whyHeader2{% endblocktrans %}
        <ul>
          <li>{% blocktrans %}reason1{% endblocktrans %}</li>
          <li>{% blocktrans %}reason2{% endblocktrans %}</li>
          <li>{% blocktrans %}reason3{% endblocktrans %}</li>
          <li>{% blocktrans %}reason4{% endblocktrans %}</li>
          <li>{% blocktrans %}reason5{% endblocktrans %}</li>
          <li>{% blocktrans %}reason6{% endblocktrans %}</li>
        </ul>
      </form>
    </div>
  </div>
  
{% endblock %}

