{% extends 'ecliptis/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block before_body_raw_block %}

    <!-- NAVBAR
    ============================== -->
    <div class="navbar navbar-default navbar__initial navbar-fixed-top scrollspy_menu" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#welcome">eclipt.is 0.1</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="fullpage__nav nav navbar-nav navbar-right">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#APIs">APIs</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <!-- SIDEBAR
    ============================== -->

    <!-- Sidebar button open -->
    <div class="hidden sidebar__btn sidebar__btn_open">
      <span class="sidebar-btn__caption">Menu</span>
      <span class="oi oi-menu sidebar-btn__icon sidebar-btn-icon__unhover " title="Open menu" aria-hidden="true"></span>
      <span class="oi oi-arrow-left sidebar-btn__icon sidebar-btn-icon__hover" title="Open menu" aria-hidden="true"></span>
    </div>

    <!-- Sidebar menu -->
    <div class="sidebar__menu sidebar__menu_hidden scrollspy_menu">

      <!-- Sidebar button close -->
      <div class="sidebar__btn sidebar__btn_close">
        <span class="sidebar-btn__caption">Menu</span>
        <span class="oi oi-menu sidebar-btn__icon sidebar-btn-icon__unhover " title="Close menu" aria-hidden="true"></span>
        <span class="oi oi-arrow-right sidebar-btn__icon sidebar-btn-icon__hover" title="Close menu" aria-hidden="true"></span>
      </div>

      <!-- Sidebar brand name -->
      <div class="sidebar-menu__brand">eclipt.is 0.1</div>

      <!-- Sidebar links -->
      <ul class="fullpage__nav sidebar-menu__ul nav">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#APIs">APIs</a></li>
        <li><a href="#team">Team</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>

    </div> <!-- / .sidebar-menu__ul -->


{% endblock before_body_raw_block %}


{% block after_body_raw_block %}

        <!-- FOOTER
    ============================== -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            2015 &copy; eclipt.is. All Rights Reserved.
          </div>
          <div class="col-xs col-sm-6">
            <div class="social__items">
              <a href="#" class="social__item">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="social__item">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="social__item">
                <i class="fa fa-google-plus"></i>
              </a>
            </div> <!-- / .social__links -->
          </div>
        </div>
      </div>
    </footer>


    <!-- JavaScript
    ================================================== -->

    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'ecliptis/js/bootstrap/bootstrap.min.js' %}"></script>

    <!-- JS Plugins -->
    <script src="{% static 'ecliptis/js/plugins/jquery.parallax-1.1.3.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/smoothscroll.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/lightbox.min.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/contact.js' %}"></script>
    <script src="{% static 'ecliptis/js/plugins/google-maps.js' %}"></script>

    <!-- JS Custom -->
    <script src="{% static 'ecliptis/js/custom_classic.js' %}"></script>
    <script src="{% static 'ecliptis/js/custom.js' %}"></script>

{% endblock after_body_raw_block %}