{% extends 'ecliptis/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}
{% load hosts %}

{% block body_block %}

{#    <div class="jumbotron">#}
{#        <div class="container">#}
{#            <h2>#}
{#                <strong>eclipt.is</strong>, a service by <a href="http://onekilopars.ec">onekilopars.ec</a>#}
{#            </h2>#}
{#            <p><strong>Goal:</strong> provide modern web access to astronomical information. That is, provide <i>browsable</i> APIs#}
{#                where each resource has its own <i>Uniform Resource Locator</i> (a.k.a. URL).#}
{#                See <a href="{% host_url 'about' host 'www' %}">About</a>.#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="row">#}
{#        <div class="col-md-6 text-center">#}
{#            <h2>Sky</h2><br/>#}
{#            <img src="{% static 'ecliptis/images/StarIcon_512x512.png' %}" width=100px>#}
{#            <img src="{% static 'ecliptis/images/ExoplanetIcon_512x512.png' %}" width=100px>#}
{#            <img src="{% static 'ecliptis/images/AsteroidIcon_512x512.png' %}" width=100px><br/><br/><br/>#}
{#            <p><a class="btn btn-default" href="/sky" role="button" id="latestFragmentsButton1">Choose</a></p>#}
{#        </div>#}
{##}
{#        <div class="col-md-6 text-center">#}
{#            <h2>Earth</h2><br/>#}
{#            <img src="{% static 'ecliptis/images/ObservatoryIcon_512x512.png' %}" width=100px>#}
{#            <img src="{% static 'ecliptis/images/BigTelescopeIcon_512x512.png' %}" width=100px><br/><br/><br/>#}
{#            <p><a class="btn btn-default" href="/earth" role="button" id="latestFragmentsButton1">Choose</a></p>#}
{#        </div>#}
{#    </div>#}

    <!-- WELCOME
    ============================== -->
    <div class="welcome_classic" id="welcome">
      <div class="welcome-classic__inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <!-- Pre heading -->
              <p class="heading__pre">
                Version 0.1 (alpha)
              </p>

              <!-- Heading -->
              <h1 class="heading heading_lg">
                Welcome to <span class="text-primary">eclitp.is</span>
              </h1>

              <!-- Sub heading -->
              <p class="heading__sub">
                Unified REST APIs for astronomical information
              </p>

              <!-- Button -->
              <div class="text-center">

                <a href="#about" class="btn btn-xl btn-primary">
                  <span class="oi oi-arrow-right" title="Find out more" aria-hidden="true"></span>
                  <span>Learn how to feed your next astro app</span>
                </a>

              </div>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
      </div> <!-- / .classic-welcome__inner -->
    </div> <!-- / .welcome_classic -->


    <!-- ABOUT
    ============================== -->
    <div class="site-wrapper" id="about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <div class="lead text-center text">
              <em>
                <strong>eclipt.is</strong>, a service by <a href="http://onekilopars.ec">onekilopars.ec</a>, aims at providing <i>browsable</i> APIs where
                  each piece of astronomical information has its own <i>Uniform Resource Locator</i> (a.k.a. URL).
                  SIMBAD, NED, exoplanet.eu, JPL Horizons, astro telegrams are among the sources of information that
                  eclipt.is intend to unify. Because we believe in the force of <strong>integration</strong>.
              </em>
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->

{#    <div class="site-wrapper">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-xs-12">#}
{##}
{#            <!-- Heading -->#}
{#            <h1 class="heading">#}
{#              What's so <span class="text-primary">awesome</span> about it?#}
{#            </h1>#}
{##}
{#            <!-- Sub heading -->#}
{#            <p class="heading__sub">#}
{#              Advanced customizability and attention to details will help you get your own website up and running in no time.#}
{#            </p>#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- About item #1 -->#}
{#            <div class="about__item">#}
{#              <h3 class="about-item__title">#}
{#                <span class="about-item-title__icon oi oi-tablet" title="Fully responsive" aria-hidden="true"></span> Fully responsive#}
{#              </h3>#}
{#              <p class="about-item__content">#}
{#                Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#              </p>#}
{#            </div> <!-- / .about__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- About item #2 -->#}
{#            <div class="about__item">#}
{#              <h3 class="about-item__title">#}
{#                <span class="about-item-title__icon oi oi-project" title="Built with LESS" aria-hidden="true"></span> Built with LESS#}
{#              </h3>#}
{#              <p class="about-item__content">#}
{#                Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#              </p>#}
{#            </div> <!-- / .about__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- About item #3 -->#}
{#            <div class="about__item">#}
{#              <h3 class="about-item__title">#}
{#                <span class="about-item-title__icon oi oi-envelope-closed" title="Functional contact form" aria-hidden="true"></span> Functional contact form#}
{#              </h3>#}
{#              <p class="about-item__content">#}
{#                Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#              </p>#}
{#            </div> <!-- / .about__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- About item #4 -->#}
{#            <div class="about__item">#}
{#              <h3 class="about-item__title">#}
{#                <span class="about-item-title__icon oi oi-menu" title="Two menu types" aria-hidden="true"></span> Two menu types#}
{#              </h3>#}
{#              <p class="about-item__content">#}
{#                Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#              </p>#}
{#            </div> <!-- / .about__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- About item #5 -->#}
{#            <div class="about__item">#}
{#              <h3 class="about-item__title">#}
{#                <span class="about-item-title__icon oi oi-layers" title="X layout options" aria-hidden="true"></span> Six layout options#}
{#              </h3>#}
{#              <p class="about-item__content">#}
{#                Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#              </p>#}
{#            </div> <!-- / .about__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- About item #6 -->#}
{#            <div class="about__item">#}
{#              <h3 class="about-item__title">#}
{#                <span class="about-item-title__icon oi oi-brush" title="5 color schemes" aria-hidden="true"></span> 5 color schemes#}
{#              </h3>#}
{#              <p class="about-item__content">#}
{#                Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#              </p>#}
{#            </div> <!-- / .about__item -->#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#      </div> <!-- / .container -->#}
{#    </div> <!-- / .site-wrapper_classic -->#}


{#    <!-- PORTFOLIO#}
{#    ============================== -->#}
{#    <div class="site-wrapper" id="portfolio">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-xs-12">#}
{##}
{#            <!-- Heading -->#}
{#            <h1 class="heading">#}
{#              A picture paints a <span class="text-primary">thousand</span> words#}
{#            </h1>#}
{##}
{#            <!-- Sub heading -->#}
{#            <p class="heading__sub">#}
{#              Some of the works we can be proud of. Feel free to contact us if you like what you see.#}
{#            </p>#}
{##}
{#          </div>#}
{#          <div class="col-xs-12">#}
{##}
{#            <!-- Portfolio navigation -->#}
{#            <div class="portfolio__nav">#}
{#              <a href="#" class="btn btn-lg btn-default" data-filter="*">#}
{#                <span class="oi oi-random" title="All" aria-hidden="true"></span>#}
{#                <span>All</span>#}
{#              </a>#}
{#              <a href="#" class="btn btn-lg btn-default" data-filter=".filter_category_1">#}
{#                <span class="oi oi-random" title="Category 1" aria-hidden="true"></span>#}
{#                <span>Category 1</span>#}
{#              </a>#}
{#              <a href="#" class="btn btn-lg btn-default" data-filter=".filter_category_2">#}
{#                <span class="oi oi-random" title="Category 2" aria-hidden="true"></span>#}
{#                <span>Category 2</span>#}
{#              </a>#}
{#              <a href="#" class="btn btn-lg btn-default" data-filter=".filter_category_3">#}
{#                <span class="oi oi-random" title="Category 3" aria-hidden="true"></span>#}
{#                <span>Category 3</span>#}
{#              </a>#}
{#              <a href="#" class="btn btn-lg btn-default" data-filter=".filter_category_4">#}
{#                <span class="oi oi-random" title="Category 4" aria-hidden="true"></span>#}
{#                <span>Category 4</span>#}
{#              </a>#}
{#            </div> <!-- / .portfolio__nav -->#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{##}
{#        <!-- Portfolio items -->#}
{#        <div class="portfolio__items">#}
{##}
{#          <div class="row">#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_1 filter_category_2 filter_category_3">#}
{##}
{#              <!-- Portfolio item #1 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_1.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #1">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_1.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_4 filter_category_1 filter_category_2">#}
{##}
{#              <!-- Portfolio item #2 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_2.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #2">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_2.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_3 filter_category_4 filter_category_1">#}
{##}
{#              <!-- Portfolio item #3 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_3.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #3">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_3.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_2 filter_category_3 filter_category_4">#}
{##}
{#              <!-- Portfolio item #4 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_4.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #4">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_4.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_1 filter_category_2 filter_category_3 filter_category_4">#}
{##}
{#              <!-- Portfolio item #5 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_5.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #5">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_5.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_4 filter_category_1 filter_category_2">#}
{##}
{#              <!-- Portfolio item #6 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_6.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #6">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_6.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_1 filter_category_3 filter_category_3">#}
{##}
{#              <!-- Portfolio item #7 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_1.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #7">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_1.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#            <div class="col-sm-4 col-md-3 filter__item filter_category_4 filter_category_2 filter_category_2 filter_category_3">#}
{##}
{#              <!-- Portfolio item #8 -->#}
{#              <div class="portfolio__item">#}
{#                <a href="img/portfolio-screenshot_2.jpg" data-lightbox="portfolio-item__body" data-title="Portfolio item #8">#}
{##}
{#                  <!-- Image -->#}
{#                  <img class="img-responsive" src="{% static 'ecliptis/img/portfolio-screenshot_2.jpg' %}" alt="...">#}
{##}
{#                  <!-- Mask -->#}
{#                  <div class="portfolio-item__mask">#}
{#                    <div class="portfolio-item-mask__wrapper">#}
{#                      <div class="portfolio-item-mask-wrapper__inner">#}
{#                        <span class="portfolio-item-mask__icon oi oi-camera-slr" title="..." aria-hidden="true"></span>#}
{#                        <h4 class="portfolio-item-mask__title animated fadeInUp">Project Title</h4>#}
{#                        <p class="portfolio-item-mask__content animated fadeInDown">#}
{#                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.#}
{#                        </p>#}
{#                      </div> <!-- / .portfolio-item-mask-wrapper__inner -->#}
{#                    </div> <!-- / .portfolio-item-mask__wrapper -->#}
{#                  </div> <!-- / .portfolio-item__mask -->#}
{##}
{#                </a>#}
{#              </div> <!-- / .portfolio__item -->#}
{##}
{#            </div>#}
{#          </div> <!-- / .row -->#}
{##}
{#        </div> <!-- / .portfolio__items -->#}
{##}
{#      </div> <!-- / .container -->#}
{#    </div> <!-- / .site-wrapper_classic -->#}


{#    <!-- PRICING#}
{#    ============================== -->#}
{#    <div class="site-wrapper" id="pricing">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-xs-12">#}
{##}
{#            <!-- Heading -->#}
{#            <h1 class="heading">#}
{#              That's about <span class="text-primary">6 cups</span> of coffee#}
{#            </h1>#}
{##}
{#            <!-- Sub heading -->#}
{#            <p class="heading__sub">#}
{#              Three pricing plans to fit a project of any size. Painless refund guaranteed.#}
{#            </p>#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#        <div class="row">#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- Pricing item -->#}
{#            <div class="pricing__item">#}
{##}
{#              <!-- Pricing title -->#}
{#              <h3 class="pricing-item__title">Single Application</h3>#}
{##}
{#              <!-- Price -->#}
{#              <div class="pricing-item__price">#}
{#                $ <span class="pricing-item-price__digits">10</span> /pc.#}
{#              </div>#}
{##}
{#              <!-- Pricing body -->#}
{#              <div class="pricing-item__body">#}
{#                <p class="pricing-item-body__content">#}
{#                  Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#                </p>#}
{#                <a href="#" class="btn btn-lg btn-default">#}
{#                  <span class="oi oi-cart" title="All" aria-hidden="true"></span>#}
{#                  <span>Purchase now</span>#}
{#                </a>#}
{#              </div>#}
{##}
{#            </div> <!-- / .pricing__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- Pricing item -->#}
{#            <div class="pricing__item">#}
{##}
{#              <!-- Pricing title -->#}
{#              <h3 class="pricing-item__title">Multiple Applications</h3>#}
{##}
{#              <!-- Price -->#}
{#              <div class="pricing-item__price">#}
{#                $ <span class="pricing-item-price__digits">50</span> /pc.#}
{#              </div>#}
{##}
{#              <!-- Pricing body -->#}
{#              <div class="pricing-item__body">#}
{#                <p class="pricing-item-body__content">#}
{#                  Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#                </p>#}
{#                <a href="#" class="btn btn-lg btn-default">#}
{#                  <span class="oi oi-cart" title="All" aria-hidden="true"></span>#}
{#                  <span>Purchase now</span>#}
{#                </a>#}
{#              </div>#}
{##}
{#            </div> <!-- / .pricing__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-4">#}
{##}
{#            <!-- Pricing item -->#}
{#            <div class="pricing__item">#}
{##}
{#              <!-- Pricing title -->#}
{#              <h3 class="pricing-item__title">Extended License</h3>#}
{##}
{#              <!-- Price -->#}
{#              <div class="pricing-item__price">#}
{#                $ <span class="pricing-item-price__digits">100</span> /pc.#}
{#              </div>#}
{##}
{#              <!-- Pricing body -->#}
{#              <div class="pricing-item__body">#}
{#                <p class="pricing-item-body__content">#}
{#                  Vivamus posuere ut est at gravida. Pellentesque non tempor mauris. Aliquam pharetra velit in vestibulum sollicitudin. Nulla mattis rhoncus tortor, sit amet egestas dolor pharetra at.#}
{#                </p>#}
{#                <a href="#" class="btn btn-lg btn-default">#}
{#                  <span class="oi oi-cart" title="All" aria-hidden="true"></span>#}
{#                  <span>Purchase now</span>#}
{#                </a>#}
{#              </div>#}
{##}
{#            </div> <!-- / .pricing__item -->#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#      </div> <!-- / .container -->#}
{#    </div> <!-- / .site-wrapper -->#}


    <!-- TEAM
    ============================== -->
    <div class="site-wrapper" id="team">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <!-- Heading -->
            <h1 class="heading">
              Play  <span class="text-primary">hard</span>, work hard.
            </h1>

            <!-- Sub heading -->
            <p class="heading__sub">
              A team of hard-working enthusiastic single guy who's passionate about his softwares...
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-4">

            <!-- Team member -->
            <div class="team__member">

{#              <!-- Avatar -->#}
{#              <div class="team-member__avatar">#}
{#                <img class="img-responsive" src="{% static 'ecliptis/img/photo_2.jpg' %}" alt="...">#}
{#              </div>#}
{##}
{#              <!-- Info -->#}
{#              <h4 class="team-member__name">Judy Doe</h4>#}
{#              <p class="team-member__info">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod.#}
{#              </p>#}
{##}
{#              <!-- Contact -->#}
{#              <div class="team-member__contact">#}
{#                <a href="#" class="team-member-contact__item facebook">#}
{#                  <i class="fa fa-facebook"></i>#}
{#                </a>#}
{#                <a href="#" class="team-member-contact__item twitter">#}
{#                  <i class="fa fa-twitter"></i>#}
{#                </a>#}
{#                <a href="#" class="team-member-contact__item google-plus">#}
{#                  <i class="fa fa-google-plus"></i>#}
{#                </a>#}
{#              </div>#}

            </div> <!-- / .team__member -->

          </div>
          <div class="col-sm-4">

            <!-- Team member -->
            <div class="team__member team__member_chief">

              <!-- Avatar -->
              <div class="team-member__avatar">
                <img class="img-responsive" src="{% static 'ecliptis/img/photo_1.jpg' %}" alt="...">
              </div>

              <!-- Info -->
              <h4 class="team-member__name">Cédric Foellmi, Ph.D.</h4>
              <p class="team-member__info">
                  A guy for a time obsessed a bit by the distance of a microquasar he thought was located at 1 kpc. Hence, his now infamous signature...
              </p>

              <!-- Contact -->
              <div class="team-member__contact">
                <a href="#" class="team-member-contact__item facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" class="team-member-contact__item twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="team-member-contact__item google-plus">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>

            </div> <!-- / .team__member -->

          </div>
          <div class="col-sm-4">

            <!-- Team member -->
            <div class="team__member">

{#              <!-- Avatar -->#}
{#              <div class="team-member__avatar">#}
{#                <img class="img-responsive" src="{% static 'ecliptis/img/photo_3.jpg' %}" alt="...">#}
{#              </div>#}
{##}
{#              <!-- Info -->#}
{#              <h4 class="team-member__name">John Doe</h4>#}
{#              <p class="team-member__info">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod.#}
{#              </p>#}
{##}
{#              <!-- Contact -->#}
{#              <div class="team-member__contact">#}
{#                <a href="#" class="team-member-contact__item facebook">#}
{#                  <i class="fa fa-facebook"></i>#}
{#                </a>#}
{#                <a href="#" class="team-member-contact__item twitter">#}
{#                  <i class="fa fa-twitter"></i>#}
{#                </a>#}
{#                <a href="#" class="team-member-contact__item google-plus">#}
{#                  <i class="fa fa-google-plus"></i>#}
{#                </a>#}
{#              </div>#}

            </div> <!-- / .team__member -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


{#    <!-- FEATURES#}
{#    ============================== -->#}
{#    <div class="site-wrapper" id="features">#}
{#      <div class="container">#}
{#        <div class="row">#}
{#          <div class="col-xs-12">#}
{##}
{#            <!-- Heading -->#}
{#            <h1 class="heading">#}
{#              Key <span class="text-primary">product</span> features#}
{#            </h1>#}
{##}
{#            <!-- Sub heading -->#}
{#            <p class="heading__sub">#}
{#              Even more reasons to purchase this template. More to come with a future update.#}
{#            </p>#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#        <div class="row">#}
{#          <div class="col-sm-6 col-md-5 col-md-offset-1">#}
{##}
{#            <!-- Features item -->#}
{#            <div class="features__item">#}
{##}
{#                <!-- Title -->#}
{#              <h3 class="features-item__title">#}
{#                <span class="text-primary">01.</span>#}
{#                Five color options#}
{#              </h3>#}
{##}
{#              <!-- Summary -->#}
{#              <div class="features-item__summary">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
{#              </div>#}
{#            </div> <!-- / .features__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-6 col-md-5">#}
{##}
{#            <!-- Features item -->#}
{#            <div class="features__item">#}
{##}
{#                <!-- Title -->#}
{#              <h3 class="features-item__title">#}
{#                <span class="text-primary">02.</span>#}
{#                Two menu types#}
{#              </h3>#}
{##}
{#              <!-- Summary -->#}
{#              <div class="features-item__summary">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
{#              </div>#}
{#            </div> <!-- / .features__item -->#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#        <div class="row">#}
{#          <div class="col-sm-6 col-md-5 col-md-offset-1">#}
{##}
{#            <!-- Features item -->#}
{#            <div class="features__item">#}
{##}
{#                <!-- Title -->#}
{#              <h3 class="features-item__title">#}
{#                <span class="text-primary">03.</span>#}
{#                Fully Responsive#}
{#              </h3>#}
{##}
{#              <!-- Summary -->#}
{#              <div class="features-item__summary">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
{#              </div>#}
{#            </div> <!-- / .features__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-6 col-md-5">#}
{##}
{#            <!-- Features item -->#}
{#            <div class="features__item">#}
{##}
{#                <!-- Title -->#}
{#              <h3 class="features-item__title">#}
{#                <span class="text-primary">04.</span>#}
{#                Built with LESS#}
{#              </h3>#}
{##}
{#              <!-- Summary -->#}
{#              <div class="features-item__summary">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
{#              </div>#}
{#            </div> <!-- / .features__item -->#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#        <div class="row">#}
{#          <div class="col-sm-6 col-md-5 col-md-offset-1">#}
{##}
{#            <!-- Features item -->#}
{#            <div class="features__item">#}
{##}
{#                <!-- Title -->#}
{#              <h3 class="features-item__title">#}
{#                <span class="text-primary">05.</span>#}
{#                Functional contact form#}
{#              </h3>#}
{##}
{#              <!-- Summary -->#}
{#              <div class="features-item__summary">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
{#              </div>#}
{#            </div> <!-- / .features__item -->#}
{##}
{#          </div>#}
{#          <div class="col-sm-6 col-md-5">#}
{##}
{#            <!-- Features item -->#}
{#            <div class="features__item">#}
{##}
{#                <!-- Title -->#}
{#              <h3 class="features-item__title">#}
{#                <span class="text-primary">06.</span>#}
{#                Free future updates#}
{#              </h3>#}
{##}
{#              <!-- Summary -->#}
{#              <div class="features-item__summary">#}
{#                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
{#              </div>#}
{#            </div> <!-- / .features__item -->#}
{##}
{#          </div>#}
{#        </div> <!-- / .row -->#}
{#      </div> <!-- / .container -->#}
{#    </div> <!-- / .site-wrapper -->#}
{##}

    <!-- CONTACT
    ============================== -->
    <div class="site-wrapper" id="contact">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <!-- Heading -->
            <h1 class="heading">
              Feel free to  <span class="text-primary">contact me</span>
            </h1>

            <!-- Sub heading -->
            <p class="heading__sub">
              Do not hesitate to drop me a couple of lines. Multi-time-zones support guaranteed.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

            <!-- Alert message -->
            <div class="alert contact-form__alert" id="form_message" role="alert"></div>

            <!-- Setting the custom theme for reCaptcha.
                 Default themes and customization:
                 https://developers.google.com/recaptcha/docs/customization -->

            <script type="text/javascript">
             var RecaptchaOptions = {
                theme : 'custom',
                custom_theme_widget: 'recaptcha_widget'
             };
            </script>

            <!-- Contact form -->
            <!-- Please carefully read the README.txt file
             in order to setup the PHP contact form properly -->
            <form role="form" class="contact__form" id="form_sendemail">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Email -->
                  <div class="form-group">
                    <label for="email" class="sr-only">Your email address</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail">
                    <span class="help-block"></span>
                  </div>
                  <!-- Name -->
                  <div class="form-group">
                    <label for="name" class="sr-only">Your name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Full Name">
                    <span class="help-block"></span>
                  </div>

                  <!-- reCAPTCHA -->
                  <div class="form-group" id="form-captcha">
                    <!-- Start reCAPTCHA -->
                    <div id="recaptcha_widget" style="display:none">
                      <div class="recaptcha__merge">
                        <div class="recaptcha-merge__action">
                          <a href="javascript:Recaptcha.reload()">
                            <span class="oi oi-loop-square"></span>
                          </a>
                          <a class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')">
                            <span class="oi oi-headphones"></span>
                          </a>
                          <a class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')">
                            <span class="oi oi-image"></span>
                          </a>
                        </div> <!-- / .recaptcha-merge__action -->
                        <!-- reCAPTCHA image -->
                        <div id="recaptcha_image"></div>
                      </div> <!-- / .recaptcha__merge -->
                      <div class="recaptcha_only_if_image text-muted">
                        Enter the words above (powered by reCaptcha):
                      </div>
                      <div class="recaptcha_only_if_audio text-muted">
                        Enter the numbers you hear (powered by reCaptcha):
                      </div>
                      <!-- reCAPTCHA input -->
                      <input class="form-control input-sm" type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
                    </div> <!-- / #recaptcha_widget -->

                    <script type="text/javascript"
                      src="http://www.google.com/recaptcha/api/challenge?k=YOUR_PUBLIC_KEY">
                    </script>
                    <noscript>
                      <iframe src="http://www.google.com/recaptcha/api/noscript?k=YOUR_PUBLIC_KEY"
                          height="300" width="500" frameborder="0"></iframe><br>
                      <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                      </textarea>
                      <input type="hidden" name="recaptcha_response_field"
                          value="manual_challenge">
                    </noscript>
                    <!-- End reCAPTCHA -->
                    <span class="help-block"></span>
                  </div> <!-- / .form-group -->

                </div>

                <div class="col-sm-6">
                  <!-- Message -->
                  <div class="form-group">
                    <label for="message" class="sr-only">Your message</label>
                    <textarea name="message" class="form-control" rows="11" id="message" placeholder="Message"></textarea>
                    <span class="help-block"></span>
                  </div>
                </div>
              </div> <!-- / .row -->

              <div class="text-center">
                <button type="submit" class="btn btn-lg btn-default">
                  <span class="oi oi-arrow-right" title="Send it" aria-hidden="true"></span>
                  <span>Send message</span>
                </button>
                <div class="clearfix"></div>
              </div>

            </form>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- Google Map -->
    <div class="site-wrapper">
      <div id="map-canvas" class="contact__map"></div>
    </div> <!-- / .site-wrapper -->



{% endblock %}