<div class="site-wrapper">
    <div class="container observingsites-search-container">

        <div id="search-container" class="row">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input autocomplete="off"
                               autofocus="autofocus"
                               class="query"
                               id="observingsite_search"
                               placeholder="Find an Observing Site by Name"
                               type="text"
                               ng-model="searchString" />
                    </div>
                </div>
            </form>

            <div class="continent_filters">
                <div ng-repeat="continent in vm.continents" class="btn btn-info btn-group continent-pill">{{ continent.name }}</div>
            </div>
        </div>


        <div id="observingsites-container" class="row">
            <div class="row" ng-cloak>
                <div ng-repeat="observingsite in vm.observingsites | nameContainsSubstring:searchString">
                    <div class="col-md-12">
                        <observingsite observingsite="observingsite"></observingsite>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="vm.observingsites.length">
            <div class="col-sm-12 no-observingsite-here">
                <em>No observing sites could be found. That's a problem. </em>
                Inform Cédric about it via <a href="mailto:cedric@arcsecond.io">@</a>,
                or <a href="https://twitter.com/arcsecond_io" class="social__item"><i class="fa fa-twitter"></i></a>.
            </div>
        </div>

    </div>
</div>

<div id="map-canvas-container" class="fluid-row">
    <ui-gmap-google-map center='map.center' zoom='map.zoom'>

        <ui-gmap-markers idkey="'idKey'"
                         models="map.markers | nameContainsSubstring:searchString"
                         coords="'coords'"
                         docluster="true"
                         fit="false"
                         icon="'icon'">

        </ui-gmap-markers>

    </ui-gmap-google-map>
</div>
