<!-- WELCOME
============================== -->
<div class="welcome_classic welcome_classic_www" id="welcome" title="Amazing picture by ESO/José Francisco Salgado (josefrancisco.org)">
    <div class="welcome-classic__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading heading_lg">
                        Welcome to <span class="text-primary">arcsecond</span>.<span class="text-primary">io</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        The astronomy cloud.
                    </p>

                    <!-- Button -->
                    <div class="text-center">
                        <a href="#about" class="btn btn-xl btn-primary-custom">
                            <span class="oi oi-arrow-right" title="Find out more" aria-hidden="true"></span>
                            <span>Discover</span>
                        </a>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .classic-welcome__inner -->
</div> <!-- / .welcome_classic -->


<!-- ABOUT
============================== -->
<div class="site-wrapper" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <div class="lead text-center text">
                    <em>
                        <strong>arcsecond.io</strong> aims at unifying the world-wide astronomy data. Our goal is
                        to build a unique place where everything is integrated. And by everything, we mean information
                        about objects, exoplanets, observing sites, solar-system objects, telescopes, people,
                        publications, telegrams, instruments, detectors, finding charts, and access to archived data.
                        And by everything, we also mean <strong>your data</strong>: observing runs, night logs,
                        reduced data, etc. Because we believe in the force of <strong>integration</strong>.
                    </em>
                </div>
                <div class="lead text-center text">
                    <strong>arcsecond.io</strong> is a service of <a href="http://onekilopars.ec">onekilopars.ec</a>
                    (<a href="http://onekilopars.ec/blog">blog</a>),
                    home of <a href="http://onekilopars.ec/apps">iObserve</a>, the best OS X and iOS apps for astronomers,
                    as well as <a href="http://onekilopars.ec/open-source">multiple open-source projects</a> for FITS
                    files, astronomical algorithms, VOTables, etc.
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .site-wrapper_classic -->


<!-- Examples
============================== -->
<div class="site-wrapper site-wrapper-blue" id="examples">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1 class="heading">
                    Explore the Observing Sites of the world!
                </h1>

                <p class="heading__sub">
                    arcsecond.io is commited to provide a community-curated list of all astronomical observing sites in the world!
                    <br/>Big or small, official or amateur, this list is open to every one.
                    <br/>
                    Tell us what you think on <a href="https://twitter.com/arcsecond_io">Twitter</a> or
                    <a href="https://www.facebook.com/arcsecond.io">Facebook</a>
                </p>

                <div class="text-center">
                    <a ng-href="/observingsites"><img ng-src='/static/arcsecond/img/observingsites_screenshot.png' width="100%"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Examples
============================== -->
<div class="site-wrapper site-wrapper" id="examples">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <h1 class="heading">
                    See astronomy data, <span class="text-primary">live</span>!
                </h1>

                <p class="heading__sub">
                    See data flowing into ESO archive, live! (More archives should follow...)
                </p>

                <div class="text-center">
                    <a ng-href="/archives"><img ng-src='/static/arcsecond/img/archives_screenshot.png' width="100%"></a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- APIs
============================== -->
<div class="site-wrapper site-wrapper-blue" id="APIs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <!-- Heading -->
                <h1 class="heading">
                    One data access point: <span class="text-primary">api.arcsecond.io</span>
                </h1>

                <!-- Sub heading -->
                <p class="heading__sub">
                    arcsecond.io is being built with modern web and data tools. That is, our services are provided atop
                    <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>ful
                    Application Programming Interfaces (APIs). Our goal is to give access to as much information
                    as possible, aggregating information with a philosophy centered around <em>resources</em>.<br/>
                    Visit <a href="http://api.arcsecond.io">api.arcsecond.io</a> to explore the details of the APIs.
                </p>

                <div class="text-center">
                    <a ng-href="http://api.arcsecond.io" class="btn btn-xl btn-primary-custom btn-primary-black">
                        <span class="oi oi-arrow-right" title="Discover APIs" aria-hidden="true"></span>
                        <span>Discover APIs</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- TEAM
============================== -->
<div class="site-wrapper" id="team">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <!-- Heading -->
                <h1 class="heading">
                    Play hard, <span class="text-primary">work hard</span>.
                </h1>

                <!-- Sub heading -->
                <p class="heading__sub">
                    A team of hard-working enthusiastic single guy who's passionate about his softwares...
                </p>

            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-4">

                <!-- Team member -->
                <div class="team__member">
                </div> <!-- / .team__member -->

            </div>
            <div class="col-sm-4">

                <!-- Team member -->
                <div class="team__member team__member_chief">

                    <!-- Avatar -->
                    <div class="team-member__avatar">
                        <img class="img-responsive" ng-src='/static/arcsecond/img/photo_1.jpg' alt="...">
                    </div>

                    <!-- Info -->
                    <h4 class="team-member__name">Cédric Foellmi, Ph.D.</h4>
                    <p class="team-member__info">
                        A guy, former support astronomer at one of the <a href="http://www.eso.org/public/teles-instr/lasilla/">most
                        beautiful observatory on this planet</a> (picture behind), and for a time interested by the distance of
                        the closest microquasars in our galaxy, and especially <a href="http://arxiv.org/abs/0812.4232">one he
                        thought was located at 1 kiloparsec</a>.
                        <br/>Hence, his now famous <a href="http://onekilopars.ec">signature</a>...
                    </p>

                    <!-- Contact -->
                    <div class="team-member__contact">
                        <a target="_self" href="https://twitter.com/onekiloparsec" class="team-member-contact__item twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_self" href="mailto:cedric@arcsecond.io" class="team-member-contact__item email">
                            <span class="about-item-title__icon oi oi-envelope-closed" title="Telegrams" aria-hidden="true"></span>
                        </a>
                    </div>

                </div> <!-- / .team__member -->

            </div>
            <div class="col-sm-4">

                <!-- Team member -->
                <div class="team__member">
                </div> <!-- / .team__member -->

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .site-wrapper -->


<!-- CONTACT
============================== -->
<div class="site-wrapper" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <!-- Heading -->
                <h1 class="heading">
                    Feel free to <span class="text-primary">contact me</span>
                </h1>

                <!-- Sub heading -->
                <p class="heading__sub">
                    Multi-time-zones support guaranteed! <a href="mailto:cedric@arcsecond.io">cedric@arcsecond.io</a>
                </p>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .site-wrapper -->


<!-- FOOTER
============================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                2015 &copy; arcsecond.io. All Rights Reserved. Amazing Images Credits: <a href="http://www.eso.org">E.S.O.</a>
            </div>
            <div class="col-xs col-sm-6">
                <div class="social__items">
                    <a target="_self" href="https://twitter.com/arcsecond_io" class="social__item">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_self" href="http://facebook.com/arcsecond.io" class="social__item">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div> <!-- / .social__links -->
            </div>
        </div>
    </div>
</footer>

