<div class="welcome_classic welcome_leads_{{ leads_name }}" title="Photo de Guillaume Poulin">
    <div class="welcome-classic__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading heading_lg">
                        {{ leads_welcome }}, <span class="text-primary">{{ leads_name | uppercase }}</span>!
                    </h1>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .classic-welcome__inner -->
</div>
