<div class="site-wrapper">
    <div class="container" id="search-container">

        <div class="row input-group">
            <div class="col-sm-7 col-md-9">
                <input autocomplete="off"
                       autofocus="autofocus"
                       id="search-input"
                       placeholder="Find an Observing Site by Name, Country, Coordinates..."
                       type="text"
                       ng-model="searchString" />
            </div>
            <div class="col-md-2">
                <a ng-href="/observingsites/new" class="btn btn-default btn-sm">Create A New Observing Site</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 search_subtitle">
                Total: {{ vm.observingsites.length }},
                Sources: <a target="_self" href="http://onekilopars.ec/apps">iObserve</a>,
                <a target="_self" href="http://www.clearskyinstitute.com/xephem/">Xephem</a> (filtered),
                <a href="/observingsites/activity">See Observing Sites Activity > </a>
            </div>
        </div>

        <div id="observingsites-container" class="row">
            <div my-loading-spinner="viewLoading"></div>
            <div class="row" ng-cloak>
                <div ng-repeat="observingsite in vm.observingsites | filter:searchString">
                    <div class="col-md-12">
                        <observingsite observingsite="observingsite" data-ng-click="zoomInToObservingSite(observingsite)"></observingsite>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="vm.observingsites.length">
            <div class="col-sm-12 no-observingsite-here">
                <em>No observing sites could be found. That's a problem. </em>
                Inform Cédric about it via <a href="mailto:cedric@arcsecond.io">@</a>,
                or <a href="https://twitter.com/arcsecond_io" class="social__item"><i class="fa fa-twitter"></i></a>.
            </div>
        </div>

    </div>
</div>

<div id="map-canvas-container" class="fluid-row">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">

        <ui-gmap-window show="map.windowOptions.show" coords="map.window.model.coords" closeClick="map.closeClick()">
            <div>
                <h5>{{map.window.model.name}}</h5>
                {{map.window.model.country}}
            </div>
        </ui-gmap-window>

        <ui-gmap-markers
                idkey="'idKey'"
                models="map.markers | filter:searchString"
                coords="'coords'"
                docluster="true"
                fit="false"
                icon="'icon'"
                events="map.markersEvents">

        </ui-gmap-markers>

    </ui-gmap-google-map>
</div>
