.welcome_classic_www {
    background-image: url(../img/bg-pattern_alt.png), url(../img/screen-bg_11.jpg);
}

.welcome_classic_api {
    background-image: url(../img/bg-pattern_alt.png), url(../img/screen-bg_10.jpg);
}

.btn-primary-black {
    color: #333333;
    background-color: transparent;
    border-color: #333333;
}

.go-button {
    padding: 4px 12px;
}

.go-api {
    padding: 4px 12px;
}

.login-or {
    padding: 25px;
}

.auth-menu-button {
    background-color: transparent;
}

.auth-menu-button {
    background-color: transparent;
    padding-top: 10px;
}

.auth-menu-button:hover,
.auth-menu-button:focus,
.auth-menu-button.focus,
.auth-menu-button:active,
.auth-menu-button.active,
.open > .dropdown-toggle.btn-info {
    color: #ffffff;
    background-color: transparent;
    border-color: #269abc;
}

.navbar-white {
    background-color: white;
    z-index: 1000;
    /*min-height: 40px;*/
    /*height: 40px;*/
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid #eee;
}

.navbar-brand-white {
    color: #4b4b4b;
    /*height: 40px;*/
    /*padding: 12px 15px;*/
}

.auth-menu-button-white {
    color: #4b4b4b;
}

.auth-menu-button-white:hover,
.auth-menu-button-white:focus,
.auth-menu-button-white.focus,
.auth-menu-button-white:active,
.auth-menu-button-white.active,
.open > .dropdown-toggle.btn-info {
    color: #4b4b4b;
    border-color: #4b4b4b;
}

.profile_user {
}

@media (min-width: 768px) {
    .profile_user {
        width: 70%;
    }
    .profile_user_chief {
        width: 100%;
        margin-top: 0;
    }
}
.profile-user__avatar {
    width: 120px;
    height: 120px;
    max-width: 15%;
    margin-top: 0;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 15px;
    border: 5px solid rgba(209, 209, 209, 0.8);
    border-radius: 10%;
    overflow: hidden;
    float: left;
}
.profile-user__name {
    color: #4dbce9;
    position: relative;
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: large;
}
.profile-user__email {
    color: #3a3a3b;
    position: relative;
    font-family: "Anonymous Pro", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-size: medium;
}
.profile-user__accounts {
    color: #7d7d7f;
}
.profile-user__verification {
    color: #7d7d7f;
    font-size: smaller;
}
.oi-small {
    /*margin-right: 0;*/
    font-size: x-small;
}
.profile-user__info {
    margin-bottom: 20px;
}
.profile-user__contact {
    text-align: center;
}
.profile-user-contact__item {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 2px;
    border-radius: 50%;
    line-height: 30px;
    color: white;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.profile-user-contact__item:hover {
    color: white;
}
.profile-user-contact__item.facebook {
    background: #3b5998;
}
.profile-user-contact__item.facebook:hover {
    background: #2d4373;
}
.profile-user-contact__item.twitter {
    background: #55acee;
}
.profile-user-contact__item.twitter:hover {
    background: #2795e9;
}
.profile-user-contact__item.google-plus {
    background: #dd4b39;
}
.profile-user-contact__item.google-plus:hover {
    background: #c23321;
}

.alert {
    display: block;
    border-radius: 0;
    border: 0;
    font-weight: 500;
}

.site-wrapper-short {
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #eee;
}

.plus-button {
    border: 0;
    padding: 1px 7px;
}

.plus-button:hover {
    background: lightgray;
}

.navbar-text {
    margin-top: 22px;
}

.navbar-title {
    font-size: large;
}

.alert-absolute {
    position: absolute;
    top: 100px;
    left: 30%;
    right: 30%;
    -webkit-border-radius: 2px;
}

#converter-coords-form {
    display: block;
}

@media (max-width: 738px) {
    #converter-coords-form {
        display: none;
    }
}
