{#{% load compress %}#}

{% load static %}

{#{% compress js %}#}

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'arcsecond/js/bootstrap/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- JS Plugins -->
<script type="text/javascript" src="{% static 'arcsecond/js/plugins/jquery.parallax-1.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'arcsecond/js/plugins/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'arcsecond/js/plugins/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'arcsecond/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'arcsecond/js/plugins/isotope.pkgd.min.js' %}"></script>
{#<script type="text/javascript" src="{% static 'arcsecond/js/plugins/lightbox.min.js' %}"></script>#}
<script type="text/javascript" src="{% static 'snackbarjs/dist/snackbar.min.js' %}"></script>

<!-- JS Custom -->
{% if initial %}
    <script src="{% static 'arcsecond/js/custom_classic.js' %}"></script>
{% endif %}
<script src="{% static 'arcsecond/js/custom.js' %}"></script>

{% if angular_app %}
    <script type="text/javascript" src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script type="text/javascript" src="{% static 'ngmap/build/scripts/ng-map.min.js' %}"></script>

{#    <script type="text/javascript" src="{% static 'lodash/lodash.min.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'angular-simple-logger/dist/index.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'angular-google-maps/dist/angular-google-maps.min.js' %}"></script>#}

    <!-- Angular WebApp -->
    <script type="text/javascript" src="{% static 'webapp/javascripts/webapp.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/webapp.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/webapp.routes.js' %}"></script>

    <!-- Angular WebApp: Layout -->
    <script type="text/javascript" src="{% static 'webapp/javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/layout/controllers/index.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/layout/controllers/single.controller.js' %}"></script>

    <!-- Angular WebApp: Utils -->
    <script type="text/javascript" src="{% static 'webapp/javascripts/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/utils/services/snackbar.service.js' %}"></script>

    <!-- Angular WebApp: ObservingSites -->
    <script type="text/javascript" src="{% static 'webapp/javascripts/observingsites/observingsites.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/observingsites/services/observingsites.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'webapp/javascripts/observingsites/directives/observingsites.directive.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/observingsites/directives/observingsite.directive.js' %}"></script>

    <script type="text/javascript" src="{% static 'webapp/javascripts/observingsites/controllers/observingsite.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'webapp/javascripts/observingsites/controllers/observingsites.controller.js' %}"></script>
{% endif %}

{#{% endcompress %}#}
