
{% load staticfiles %}
{% load i18n %}
{% load account %}
{% load hosts %}

{% if user.is_authenticated %}

    <div class="navbar-form navbar-right" role="form">

        <div class="btn-group">
            <button type="button"
                    class="btn btn-info auth-menu-button {% if white %}auth-menu-button-white{% endif %}"
                    onclick="location.href='/@{{ user.username }}';">@{{ user.username }}
                {% if white == False %}
                    {% if user.profile.account_verified %}
                        <span class="about-item-title__icon oi oi-small oi-circle-check" aria-hidden="true"></span>
                    {% else %}
                        <span class="about-item-title__icon oi oi-small oi-circle-x" aria-hidden="true"></span>
                    {% endif %}
                {% endif %}
            </button>

            <button type="button" class="btn btn-info auth-menu-button {% if white %}auth-menu-button-white{% endif %} dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% host_url 'user-settings' with user.username host 'www' %}">Settings</a></li>
                <li class="divider"></li>
                <li><a href="{% host_url 'account_logout' host 'www' %}">Logout</a></li>
            </ul>
        </div>
    </div>

{% else %}

    <li><a href="{% host_url 'account_login' host 'www' %}">Log In</a></li>
    <li><a href="{% host_url 'account_signup' host 'www' %}">Sign Up</a></li>

{% endif %}

