<!DOCTYPE html>

{% load staticfiles %}
{% load socialaccount %}

<html>
<head>
    {% include 'arcsecond/blocks/base-header.html' %}
    {% block head_end_block %}{% endblock head_end_block %}
</head>

<body class="classic"
      data-spy="scroll"
      data-target=".scrollspy_menu"
      {% if angular_app %}ng-app="{{ angular_app }}" ng-controller="MasterCtrl"{% endif %}>

{% include 'arcsecond/blocks/messages-alerts.html' %}

{% block body_block %}{% endblock body_block %}

{% include 'arcsecond/blocks/javascripts.html' %}

{% block after_body_raw_block %}{% endblock after_body_raw_block %}

{% if settings.SITE_ID == 3 %}
    {% include "arcsecond/blocks/google-analytics-code.html" %}
{% endif %}

</body>
</html>