<!-- FOOTER
============================== -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                2015 &copy; arcsecond.io. All Rights Reserved. Amazing Images Credits: <a href="http://www.eso.org">E.S.O.</a>
            </div>
            <div class="col-xs col-sm-6">
                <div class="social__items">
                    <a href="https://twitter.com/onekiloparsec" class="social__item">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="http://facebook.com/App.iObserve" class="social__item">
                        <i class="fa fa-facebook"></i>
                    </a>
                </div> <!-- / .social__links -->
            </div>
        </div>
    </div>
</footer>

