{% extends 'arcsecond/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% load hosts %}

{% block body_block %}

    <!-- WELCOME
============================== -->
    <div class="welcome_classic welcome_classic_api" id="welcome" title="Amazing picture by ESO/Y. Beletsky">
        <div class="welcome-classic__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <!-- Pre heading -->
                        <p class="heading__pre">
                            Version 1 (alpha)
                        </p>

                        <!-- Heading -->
                        <h1 class="heading heading_lg">
                            Welcome to <span class="text-primary">api.arcsecond.io</span>
                        </h1>

                        <!-- Sub heading -->
                        <p class="heading__sub">
                            Unified REST APIs for world-wide astronomical data
                        </p>

                        <!-- Button -->
                        <div class="text-center">

                            <a href="#about" class="btn btn-xl btn-primary">
                                <span class="oi oi-arrow-right" title="Find out more" aria-hidden="true"></span>
                                <span>Discover APIs</span>
                            </a>

                        </div>

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </div> <!-- / .classic-welcome__inner -->
    </div> <!-- / .welcome_classic -->

    <!-- ABOUT
    ============================== -->
    <div class="site-wrapper" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="lead text-center text">
                        <em>
                            <strong>arcsecond.io</strong> aims at providing browsable, unified Application Programming
                            Interfaces (APIs) where each piece of astronomical information has its own <i>URL</i>.
                            SIMBAD, NASA Exoplanet Archive, JPL Horizons, ADS are among the sources of information that
                            arcsecond.io intends to unify. Because we believe in the force of <strong>integration</strong>.
                        </em>
                    </div>
                    <div class="lead text-center text">
                        <strong>arcsecond.io</strong> is a service of <a href="http://onekilopars.ec">onekilopars.ec</a>,
                        home of <a href="http://onekilopars.ec/apps">iObserve</a>, the best OS X and iOS apps for astronomers,
                        as well as <a href="http://onekilopars.ec/open-source">multiple open-source projects</a> for FITS files, astronomical algorithms, VOTables, etc.
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->


    <!-- APIs
    ============================== -->
    <div class="site-wrapper site-wrapper-blue" id="APIs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        One access point: <span class="text-primary">api.arcsecond.io</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Our goal is to give access to as much information as possible, aggregating information with a philosophy centered around <em>resources</em>.
                        <br/>The APIs will incrementally be introduced here. To follow what's going on, read <a href="http://onekilopars.ec/blog">onekilopars.ec blog</a>.
                        <br/>Example values are inserted below to speed up experimentation, but feel free to play with other values.
                    </p>

                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/StarIcon_512x512.png' %}" border="0" width="25"> Objects
                        </h3>
                        <p class="about-item__content">
                            Objects will be a consolidation of what <a href="http://simbad.u-strasbg.fr/simbad/">SIMBAD</a> and <a href="http://ned.ipac.caltech.edu">NED</a> services return.
                            <br/>Enter the name of a known object and press Go!
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/objects/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: GRO J1655-40" value="GRO J1655-40">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> working. Integration with exoplanet host stars and astro telegrams now complete!
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ExoplanetIcon_512x512.png' %}" border="0" width="25"> Exoplanets
                        </h3>
                        <p class="about-item__content">
                            Exoplanets data will be consolidated from <a href="http://exoplanetarchive.ipac.caltech.edu">NASA Exoplanet Archive</a> and <a href="http://exoplanet.eu">exoplanet.eu</a>.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/exoplanets/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: 51 Peg b" value="51 Peg b">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> working with exoplanets.eu only. Full catalog as well individual object are accessible.
                            Parameter filtering pending. Integration with objects now done.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ObservatoryIcon_512x512.png' %}" border="0" width="25"> Observing Sites
                            <a tabindex="0" class="btn btn-sm" role="button" title="Why not 'Observatories'?"
                               data-toggle="popover"
                               data-trigger="focus"
                               data-content="The term 'Observatories' is ambiguous, sometimes designating a place, sometimes
                                a whole organisation, sometimes just a dome with a telescope. As we give access here
                                specifically to locations on Earth, it makes more sense to use 'Observing Sites'.
                                Organisations, along with universities etc, will have their dedicated entry point.">
                                <span class="about-item-title__icon oi oi-question-mark" title="Explanations" aria-hidden="true"></span>
                            </a>
                        </h3>
                        <p class="about-item__content">
                            Observing Sites are directly managed by arcsecond.io.
                            {% if settings.SITE_ID == 1 %}
                                <a href="{% host_url 'observingsites-map' host 'www' %}">See them here!</a>
                            {% elif settings.SITE_ID == 2 %}
                                <a href="{% url 'observingsites-map' %}">See them here!</a>
                            {% else %}
                                <a href="{% host_url 'observingsites-map' host 'www' %}">See them here!</a>
                            {% endif %}
                            <br/>You can use <code>?continent=&lt;Continent Name&gt;</code> to filter according to continents.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/observingsites/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: La Silla" value="La Silla">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> static list of iObserve observatories is in place.
                            Dynamic addition, edition, changes by registered users etc. pending.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/BigTelescopeIcon_512x512.png' %}" border="0" width="25"> Telescopes & Instruments
                        </h3>
                        <p class="about-item__content">
                            Telescopes & Instruments are managed directly in arcsecond.io. It will be open for changes to registered users.
                            <br/>You can use <code>?continent=&lt;Continent Name&gt;</code> to filter according to continents.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/telescopes/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: New Technology Telescope" value="New Technology Telescope">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> static list of iObserve telescopes is in place.
                            Dynamic addition, edition, changes by registered users etc. pending.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-envelope-closed" title="Telegrams" aria-hidden="true"></span> Telegrams
                        </h3>
                        <p class="about-item__content">
                            Telegrams are quick publications, often related to ongoing events occuring is the sky.
                            We intend to cover GRBs, supernovae, Circulars etc...
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/telegrams/
                                        <select class="go-select">
                                            <option>ATel</option>
                                            <option>GCN/Circulars</option>
                                        </select>&nbsp;<span class="go-select-suffix">/</span>
                                        <select class="go-select-hidden" hidden>
                                            <option>7898</option>
                                            <option>14447</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 7898" value="7898">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> partial implementation of <a href="http://www.astronomerstelegram.org">ATels</a>,
                            and <a href="http://gcn.gsfc.nasa.gov">GCN Circulars</a>.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/FITSIcon_512x512.png' %}" border="0" width="20"> Data Archives
                        </h3>
                        <p class="about-item__content">
                            Data Archives from <a href="http://archive.eso.org/eso/eso_archive_main.html">ESO</a>, <a href="http://archive.stsci.edu">MAST</a> etc.
                            For the moment, we only have ESO and HST programmes summary. But other archives as well as FITS data is planned.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/archives/
                                        <select class="go-select">
                                            <option>ESO</option>
                                            <option>HST</option>
                                        </select>&nbsp;<span class="go-select-suffix">/</span>
                                        <select class="go-select-hidden" hidden>
                                            <option>073.D-0473(A)</option>
                                            <option>10340</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 073.D-0473(A)" value="073.D-0473(A)">
                                    <div class="input-group-addon go-api-suffix">/summary/</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> started, but a lot more to come.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-book" title="Publications" aria-hidden="true"></span> Publications
                        </h3>
                        <p class="about-item__content">
                            Publications will integrated sources such as <a href="http://adswww.harvard.edu">NASA ADS</a> and others.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/publications/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: 2009NewA...14..674F" value="2009NewA...14..674F">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> partial implementation of publications identified with bibcodes.
                            Input with arXiv format pending. Integration with other services also pending.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-people" title="People" aria-hidden="true"></span> People
                        </h3>
                        <p class="about-item__content">
                            The people section will regroup all the scientists, and active people in the field, present in papers, proposals, etc.
                            Hopefully, most of them will open a arcsecond.io user account!
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/people/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: Foellmi, C.">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> user accounts implementation is started. Then, will need integration will all other services.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/FindingChartsIcon_512x512.png' %}" border="0" width="25"> Finding Charts
                        </h3>
                        <p class="about-item__content">
                            Finding charts will integrate as many sources of charts as possible: SDSS, DSS, 2MASS etc.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/findingcharts/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: HD 5980" value="HD 5980">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> started with IRSA optical and NIR charts from IPAC. Integrations with objects now included.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/AsteroidIcon_512x512.png' %}" border="0" width="25"> <img src="{% static 'arcsecond/img/CometIcon_175x175.png' %}" border="0" width="25"> Asteroids & Comets
                        </h3>
                        <p class="about-item__content">
                            Asteroids and Comets will be retrieved from the <a href="http://ssd.jpl.nasa.gov/?horizons">JPL Horizon service</a>.
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> to be implemented, based on iObserve's know-how.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ConverterIcon_512x512.png' %}" border="0" width="25"> Converters
                        </h3>
                        <p class="about-item__content">
                            Converters are URL-based calculations.
                            Below are an example that converts equatorial/ICRS coordinates to all other coordinates,
                            and one that converts times in various units. Both follow definitions of <a href="http://astropy.org">astropy</a>.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/converters/coordinates/ra/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 3.4576" style="width:100px;" value="3.4576">
                                    <div class="input-group-addon go-api-2">/dec/</div>
                                    <input type="text" class="form-control go-input-2" placeholder="ex : -70.2452" style="width:100px;" value="-70.2452">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <br/>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/converters/times/
                                        <select class="go-select">
                                            <option>byear</option>
                                            <option>byear_str</option>
                                            <option>cxcsec</option>
                                            <option>datetime</option>
                                            <option>decimalyear</option>
                                            <option>gps</option>
                                            <option>iso</option>
                                            <option>isot</option>
                                            <option selected>jd</option>
                                            <option>jyear</option>
                                            <option>jyear_str</option>
                                            <option>mjd</option>
                                            <option>plot_date</option>
                                            <option>unix</option>
                                            <option>yday</option>
                                        </select>&nbsp;<span class="go-select-suffix">/</span>
                                        <select class="go-select-hidden" hidden>
                                            <option>1999.9999085590325</option>
                                            <option>B2000.000</option>
                                            <option>63072064.184</option>
                                            <option>2000-01-01 00:00:00</option>
                                            <option>2000.0</option>
                                            <option>630720013.0</option>
                                            <option>2000-01-01 00:00:00.000</option>
                                            <option>2000-01-01T00:00:00.000</option>
                                            <option>2451544.5</option>
                                            <option>1999.9986310746065</option>
                                            <option>J1999.999</option>
                                            <option>51544.0</option>
                                            <option>730120.0</option>
                                            <option>946684800.0</option>
                                            <option>2000:001:00:00:00.000</option>
                                        </select>
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 2451544.5" value="2451544.5">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> basic coordinates support.
                            Astropy-compliant times converter added. Fluxes / magnitudes converter started.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ObservatoryIcon_512x512.png' %}" border="0" width="25"> Organisations & Universities
                        </h3>
                        <p class="about-item__content">
                            Organisations & Universities will regroup all the organisations such as NOAO, ESO, ESA etc, as well as universities,
                            or group of universities involved in observing activities.
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> started.
                        </p>
                    </div>
                </div>



            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->


    <!-- FEATURES
    ============================== -->
    <div class="site-wrapper" id="features">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        What about <span class="text-primary">astropy</span>?
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        <a href="http://astropy.org">astropy.org</a> is amazing!
                        In fact, some of the things behind arcsecond.io rely on astropy.
                        <br/>Even better, we intend to be as much astropy-compliant as possible.
                        <br/><img src="http://www.astropy.org/images/astropy_powered.png" width="25%" border="0">
                    </p>
                </div>
            </div> <!-- / .row -->

            {#                        <div class="row">#}
            {#                            <div class="col-sm-6 col-md-5 col-md-offset-1">#}
            {##}
            {#                                <!-- Features item -->#}
            {#                                <div class="features__item">#}
            {##}
            {#                                    <!-- Title -->#}
            {#                                    <h3 class="features-item__title">#}
            {#                                        <span class="text-primary">01.</span>#}
            {#                                        Five color options#}
            {#                                    </h3>#}
            {##}
            {#                                    <!-- Summary -->#}
            {#                                    <div class="features-item__summary">#}
            {#                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
            {#                                    </div>#}
            {#                                </div> <!-- / .features__item -->#}
            {##}
            {#                            </div>#}
            {#                            <div class="col-sm-6 col-md-5">#}
            {##}
            {#                                <!-- Features item -->#}
            {#                                <div class="features__item">#}
            {##}
            {#                                    <!-- Title -->#}
            {#                                    <h3 class="features-item__title">#}
            {#                                        <span class="text-primary">02.</span>#}
            {#                                        Two menu types#}
            {#                                    </h3>#}
            {##}
            {#                                    <!-- Summary -->#}
            {#                                    <div class="features-item__summary">#}
            {#                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
            {#                                    </div>#}
            {#                                </div> <!-- / .features__item -->#}
            {##}
            {#                            </div>#}
            {#                        </div> <!-- / .row -->#}

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- SDKs
    ============================== -->
    <div class="site-wrapper site-wrapper-blue" id="sdks">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Seamless integration with open-source <span class="text-primary">SDKs</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        To ease the integration of arcsecond.io services into your own code, we are developing
                        <strong>open-source SDKs </strong> (a.k.a. Software Development Kit).
                        <br/><br/>
                        For now, it is rather empty, but you can nonetheless
                        <a href="https://github.com/onekiloparsec/arcsecond.io.sdks">check them out</a> on GitHub (no account required).
                        <br/>The SDKs will be written at least in <strong>Python</strong>,
                        <strong>JavaScript</strong>, <strong>Objective-C</strong> and <strong>Swift</strong>.
                    </p>
                </div>
            </div> <!-- / .row -->


        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- Acknowledgments
    ============================== -->
    <div class="site-wrapper" id="acknowledgments">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        <span class="text-primary">Acknowledgments</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Apart from <a href="http://astropy.org">astropy</a>, arcsecond.io wants to aknowledge the use of the following services:
                    </p>
                </div>
            </div> <!-- / .row -->

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">SIMBAD</span>
                            (CDS)
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of the SIMBAD database, operated at <a href="http://cds.u-strasbg.fr">CDS</a>, Strasbourg, France.
                            <br/>See <a href="http://adsabs.harvard.edu/abs/2000A%26AS..143....9W">2000, A&AS, 143, 9,
                            "The SIMBAD astronomical database", Wenger et al.</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">exoplanet.eu</span>
                            (Obs. Paris-Meudon)
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of fantastic work of the <a href="http://exoplanet.eu/team/">team</a>, at exoplanet.eu.
                            <br/>(we would like to link to the catalog publication, but the link is broken...)
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">E.S.O.</span>
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of the <a href="http://archive.eso.org">archive</a> of
                            the <a href="http://www.eso.org">European Southern Observatory</a>.
                            We also thanks E.S.O. for the amazing images available at <a href="http://www.eso.org/public/images">this address</a>.
                            Thanks to an open licence (<a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
                            International License</a>), this site can have an amazing look, isn't it?
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">M.A.S.T.</span>
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of the <a href="http://archive.stsci.edu">Barbara A. Mikulski Archive for Space Telescopes</a>,
                            for the HST proposal summaries.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">Astronomer's Telegram</span>
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of the <a href="http://www.astronomerstelegram.org">Astronomer's Telegram</a>.
                            <br/>You can follow it on <a href="https://twitter.com/astronomerstel"><i class="fa fa-twitter"></i></a> and
                            <a href="https://www.facebook.com/astronomerstelegram"><i class="fa fa-facebook"></i></a>.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">NASA ADS</span>
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of <a href="http://www.adsabs.harvard.edu">NASA's Astrophysics Data System</a>.
                            You may have a look at their <a href="https://ui.adsabs.harvard.edu">new interface</a>.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">NASA IPAC</span>
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of <a href="http://www.ipac.caltech.edu">NASA/IPAC Infrared Science Archive</a>.
                            We use <a href="http://irsa.ipac.caltech.edu/about.html">IRSA</a> for the SDSS, DSS and 2MASS Finding charts.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">NASA GSFC</span>
                        </h3>
                        <div class="features-item__summary">
                            This work is making use of <a href="http://www.nasa.gov/centers/goddard">NASA/Goddard Space Flight Center</a>.
                            We use <a href="http://gcn.gsfc.nasa.gov">GCN</a> for Gamma-Ray Bursts Circulars.
                        </div>
                    </div>
                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


{% endblock %}


{% block after_body_raw_block %}
    {{ block.super }}

    {% include 'arcsecond/blocks/footer.html' %}

    <script src="{% static 'arcsecond/js/plugins/google-maps.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="popover"]').popover()
            });

            $('.selectpicker').selectpicker();

            $('.go-select').change(function(){
                var element = $(this).parents(".form-inline");
                var values = element.find(".go-select-hidden");
                var new_placeholder = values[0].options[this.selectedIndex].value;
                element.find(".go-input").attr("placeholder", new_placeholder);
                element.find(".go-input").attr("value", new_placeholder);
            });

            $(".go-button").click(function() {
                var element = $(this).parents(".form-inline");
                {% if settings.SITE_ID == 1 %}
                    var api_url = "http://api.lvho.st:8000";
                {% elif settings.SITE_ID == 2 %}
                    var api_url = "http://arcsecond-staging.herokuapp.com/api";
                {% else %}
                    var api_url = "http://api.arcsecond.io";
                {% endif %}
                api_url += element.find(".go-api").html().split("\n")[0];

                var api_select = element.find(".go-select");
                if (api_select.length == 1) {
                    api_url += api_select.val();
                }

                var api_select_suffix = element.find(".go-select-suffix");
                if (api_select_suffix.length == 1) {
                    api_url += api_select_suffix.html();
                }

                var input = element.find(".go-input").val();
                if (input) {
                    api_url += input;
                }

                var api_2 = element.find(".go-api-2");
                if (api_2.length == 1) {
                    api_url += api_2.html();
                }

                var api_input_2 = element.find(".go-input-2");
                if (api_input_2.length == 1) {
                    api_url += api_input_2.val();
                }

                var api_suffix = element.find(".go-api-suffix");
                if (api_suffix.length == 1) {
                    api_url += api_suffix.html();
                }
                window.open(api_url, '_blank');
            });
        });
    </script>

{% endblock after_body_raw_block %}
