{% extends 'arcsecond/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}
{% load hosts %}

{% block body_block %}

    <!-- WELCOME
    ============================== -->
    <div class="welcome_classic" id="welcome">
        <div class="welcome-classic__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <!-- Pre heading -->
                        <p class="heading__pre">
                            Version 1 (alpha)
                        </p>

                        <!-- Heading -->
                        <h1 class="heading heading_lg">
                            Welcome to <span class="text-primary">arcsecond.io</span>
                        </h1>

                        <!-- Sub heading -->
                        <p class="heading__sub">
                            Unified REST APIs for astronomical information
                        </p>

                        <!-- Button -->
                        <div class="text-center">

                            <a href="#about" class="btn btn-xl btn-primary">
                                <span class="oi oi-arrow-right" title="Find out more" aria-hidden="true"></span>
                                <span>Learn how to feed your next astro app</span>
                            </a>

                        </div>

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </div> <!-- / .classic-welcome__inner -->
    </div> <!-- / .welcome_classic -->


    <!-- ABOUT
    ============================== -->
    <div class="site-wrapper" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="lead text-center text">
                        <em>
                            <strong>arcsecond.io</strong> aims at providing browsable, unified APIs where
                            each piece of astronomical information has its own <i>Uniform Resource Locator</i> (a.k.a. URL).
                            SIMBAD, NASA Exoplanet Archive, JPL Horizons, ADS are among the sources of information that
                            arcsecond.io intend to unify. Because we believe in the force of <strong>integration</strong>.
                        </em>
                    </div>
                    <div class="lead text-center text">
                        <strong>arcsecond.io</strong> is a service of <a href="http://onekilopars.ec">onekilopars.ec</a>,
                        home of <a href="http://onekilopars.ec/apps">iObserve</a>, the best OS X and iOS apps for astronomers,
                        as well as <a href="http://onekilopars.ec/open-source">multiple open-source projects</a> for FITS files, astronomical algorithms, VOTables, etc.
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->


    <!-- APIs
    ============================== -->
    <div class="site-wrapper site-wrapper-blue" id="APIs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        One access point: <span class="text-primary">api.arcsecond.io</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Our goal is to give access to as much information as possible, aggregating information with a philosophy centered around <em>resources</em>.
                        <br/>The APIs will incrementally be introduced here. To follow what's going on, read <a href="http://onekilopars.ec/blog">onekilopars.ec blog</a>.
                    </p>

                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/StarIcon_512x512.png' %}" border="0" width="25"> Objects
                        </h3>
                        <p class="about-item__content">
                            Objects will be a consolidation of what <a href="http://simbad.u-strasbg.fr/simbad/">SIMBAD</a> and <a href="http://ned.ipac.caltech.edu">NED</a> services return.
                            <br/>Enter the name of a known object and press Go!
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/objects/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: GRO J1655-40">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> working. Integration with exoplanet host stars and astro telegrams pending completion.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ExoplanetIcon_512x512.png' %}" border="0" width="25"> Exoplanets
                        </h3>
                        <p class="about-item__content">
                            Exoplanets data will be consolidated from <a href="http://exoplanetarchive.ipac.caltech.edu">NASA Exoplanet Archive</a> and <a href="http://exoplanet.eu">exoplanet.eu</a>.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/exoplanets/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: 51 Peg b">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> working with exoplanets.eu only. Full catalog as well individual object are accessible. Parameter filtering pending.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ObservatoryIcon_512x512.png' %}" border="0" width="25"> Observing Sites
                            <a tabindex="0" class="btn btn-sm" role="button" title="Why not 'Observatories'?"
                               data-toggle="popover"
                               data-trigger="focus"
                               data-content="The term 'Observatories' is ambiguous, sometimes designating a place, sometimes a whole organisation,
                                sometimes just a dome with a telescope. As we give access here specifically to locations on Earth, it makes more sense to use 'Observing Sites'.
                                Organisations, along with universities etc, will have their dedicated entry point.">
                                <span class="about-item-title__icon oi oi-question-mark" title="Explanations" aria-hidden="true"></span>
                            </a>
                        </h3>
                        <p class="about-item__content">
                            Observing Sites are directly managed by arcsecond.io.
                            <br/>You can use <code>?continent=&lt;Continent Name&gt;</code> to filter according to continents.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/observingsites/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: La Silla">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> static list of iObserve observatories is in place. Dynamic addition, edition, changes by registered users etc. pending.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/BigTelescopeIcon_512x512.png' %}" border="0" width="25"> Telescopes & Instruments
                        </h3>
                        <p class="about-item__content">
                            Telescopes & Instruments are managed directly in arcsecond.io. It will be open for changes to registered users.
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> started.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-envelope-closed" title="Telegrams" aria-hidden="true"></span> Telegrams
                        </h3>
                        <p class="about-item__content">
                            Telegrams are quick publications, often related to ongoing events occuring is the sky.
                            We intend to cover GRBs, supernovae, Circulars etc...
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/telegrams/
                                        <select class="go-select">
                                            <option>ATel</option>
                                        </select>&nbsp;<span class="go-select-suffix">/</span>
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 7898">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> partial implementation of <a href="http://www.astronomerstelegram.org">ATels</a>.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/FITSIcon_512x512.png' %}" border="0" width="20"> Data Archives
                        </h3>
                        <p class="about-item__content">
                            Data Archives from <a href="http://archive.eso.org/eso/eso_archive_main.html">ESO</a>, <a href="http://archive.stsci.edu">MAST</a> etc.
                            For the moment, I only have ESO and HST programmes summary. But other archives as well as FITS data is planned.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/archives/
                                        <select class="go-select">
                                            <option>ESO</option>
                                            <option>HST</option>
                                        </select>&nbsp;<span class="go-select-suffix">/</span>
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 073.D-0473(A)">
                                    <div class="input-group-addon go-api-suffix">/summary/</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> started, but a lot more to come.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-book" title="People" aria-hidden="true"></span> Publications
                        </h3>
                        <p class="about-item__content">
                            Publications will integrated sources such as <a href="http://adswww.harvard.edu">NASA ADS</a> and others.
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> to be implemented.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-people" title="People" aria-hidden="true"></span> People
                        </h3>
                        <p class="about-item__content">
                            The people section will regroup all the scientists, and active people in the field, present in papers, proposals, etc.
                            Hopefully, most of them will open a arcsecond.io user account!
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> user accounts implementation is started. Then, will need integration will all other services.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/FindingChartsIcon_512x512.png' %}" border="0" width="20"> Finding Charts
                        </h3>
                        <p class="about-item__content">
                            Finding charts will integrate as many sources of charts as possible: SDSS, DSS, 2MASS etc.
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> to be implemented, with iObserve's know-how.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/AsteroidIcon_512x512.png' %}" border="0" width="25"> <img src="{% static 'arcsecond/img/CometIcon_175x175.png' %}" border="0" width="25"> Asteroids & Comets
                        </h3>
                        <p class="about-item__content">
                            Asteroids and Comets will be retrieved from the <a href="http://ssd.jpl.nasa.gov/?horizons">JPL Horizon service</a>.
                        </p>
                        <p class="about-item__content">
                            <strong>Current state:</strong> to be implemented, based on iObserve's know-how.
                        </p>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/img/ConverterIcon_512x512.png' %}" border="0" width="25"> Converters
                        </h3>
                        <p class="about-item__content">
                            Converters are URL-based calculations.
                            Below is an example that converts equatorial/ICRS coordinates to all other coordinates as defined in <a href="http://astropy.org">astropy</a>.
                            More onverters to come.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/converters/
                                        <select class="go-select">
                                            <option>coordinates</option>
                                        </select>&nbsp;<span class="go-select-suffix">/ra/</span>
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="ex : 3.4576">
                                    <div class="input-group-addon go-api-2">/dec/</div>
                                    <input type="text" class="form-control go-input-2" placeholder="ex : -70.2452">
                                    {#                                    <div class="input-group-addon go-api-2">/#}
                                    {#                                        <select class="go-select-2">#}
                                    {#                                            <option>(empty)</option>#}
                                    {#                                        </select>#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                        <p class="about-item__content">
                            <strong>Current state:</strong> basic Coordinates support. Times converter to be started.
                        </p>
                    </div>
                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->


    <!-- FEATURES
    ============================== -->
    <div class="site-wrapper" id="features">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        What about <span class="text-primary">astropy</span>?
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        <a href="http://astropy.org">astropy.org</a> is amazing!
                        In fact, some of the things behind arcsecond.io rely on astropy.
                        <br/>Even better, we intend to be as much astropy-compliant as possible.
                        <br/><img src="http://www.astropy.org/images/astropy_powered.png" width="25%" border="0">
                    </p>
                </div>
            </div> <!-- / .row -->

            {#                        <div class="row">#}
            {#                            <div class="col-sm-6 col-md-5 col-md-offset-1">#}
            {##}
            {#                                <!-- Features item -->#}
            {#                                <div class="features__item">#}
            {##}
            {#                                    <!-- Title -->#}
            {#                                    <h3 class="features-item__title">#}
            {#                                        <span class="text-primary">01.</span>#}
            {#                                        Five color options#}
            {#                                    </h3>#}
            {##}
            {#                                    <!-- Summary -->#}
            {#                                    <div class="features-item__summary">#}
            {#                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
            {#                                    </div>#}
            {#                                </div> <!-- / .features__item -->#}
            {##}
            {#                            </div>#}
            {#                            <div class="col-sm-6 col-md-5">#}
            {##}
            {#                                <!-- Features item -->#}
            {#                                <div class="features__item">#}
            {##}
            {#                                    <!-- Title -->#}
            {#                                    <h3 class="features-item__title">#}
            {#                                        <span class="text-primary">02.</span>#}
            {#                                        Two menu types#}
            {#                                    </h3>#}
            {##}
            {#                                    <!-- Summary -->#}
            {#                                    <div class="features-item__summary">#}
            {#                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
            {#                                    </div>#}
            {#                                </div> <!-- / .features__item -->#}
            {##}
            {#                            </div>#}
            {#                        </div> <!-- / .row -->#}

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- SDKs
    ============================== -->
    <div class="site-wrapper site-wrapper-blue" id="sdks">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Seamless integration with open-source <span class="text-primary">SDKs</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        To ease the integration of arcsecond.io services into your own code, we are developing
                        <strong>open-source SDKs </strong> (a.k.a. Software Development Kit).
                        <br/><br/>
                        For now, it is rather empty, but you can nonetheless
                        <a href="https://github.com/onekiloparsec/arcsecond.io.sdks">check them out</a> on GitHub (no account required).
                        <br/>The SDKs will be written at least in <strong>Python</strong>,
                        <strong>JavaScript</strong>, <strong>Objective-C</strong> and <strong>Swift</strong>.
                    </p>
                </div>
            </div> <!-- / .row -->


        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- Acknowledgments
    ============================== -->
    <div class="site-wrapper" id="acknowledgments">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        <span class="text-primary">Acknowledgments</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Apart from <a href="http://astropy.org">astropy</a>, arcsecond.io wants to aknowledge the use of the following services:
                    </p>
                </div>
            </div> <!-- / .row -->

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">SIMBAD</span>
                            (CDS)
                        </h3>
                        <div class="features-item__summary">
                            This research has made use of the SIMBAD database, operated at <a href="http://cds.u-strasbg.fr">CDS</a>, Strasbourg, France.
                            <br/>See <a href="http://adsabs.harvard.edu/abs/2000A%26AS..143....9W">2000, A&AS, 143, 9, "The SIMBAD astronomical database", Wenger et al.</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">exoplanet.eu</span>
                            (Obs. Paris-Meudon)
                        </h3>
                        <div class="features-item__summary">
                            This work has made of use of fantastic work of the <a href="http://exoplanet.eu/team/">team</a>, at exoplanet.eu.
                            <br/>(I wish I could link to the catalog publication, but the link is broken...)
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">E.S.O.</span>
                        </h3>
                        <div class="features-item__summary">
                            This work has made use of the <a href="http://archive.eso.org">E.S.O. archive</a>.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">M.A.S.T.</span>
                        </h3>
                        <div class="features-item__summary">
                            This work has made use of the <a href="http://archive.stsci.edu">Barbara A. Mikulski Archive for Space Telescopes</a>.
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="features__item">
                        <h3 class="features-item__title">
                            <span class="text-primary">Astronomer's Telegram</span>
                        </h3>
                        <div class="features-item__summary">
                            This work has made use of the <a href="http://www.astronomerstelegram.org">Astronomer's Telegram</a>.
                            <br/>You can follow it on <a href="https://twitter.com/astronomerstel"><i class="fa fa-twitter"></i></a> and
                            <a href="https://www.facebook.com/astronomerstelegram"><i class="fa fa-facebook"></i></a>.
                        </div>
                    </div>
                </div>

            </div> <!-- / .row -->

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- TEAM
    ============================== -->
    <div class="site-wrapper" id="team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Play hard, <span class="text-primary">work hard</span>.
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        A team of hard-working enthusiastic single guy who's passionate about his softwares...
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member">
                    </div> <!-- / .team__member -->

                </div>
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member team__member_chief">

                        <!-- Avatar -->
                        <div class="team-member__avatar">
                            <img class="img-responsive" src="{% static 'arcsecond/img/photo_1.jpg' %}" alt="...">
                        </div>

                        <!-- Info -->
                        <h4 class="team-member__name">Cédric Foellmi, Ph.D.</h4>
                        <p class="team-member__info">
                            A guy, former support astronomer at one of the <a href="http://www.eso.org/public/teles-instr/lasilla/">most beautiful observatory on this planet</a> (picture behind), and for a time interested by the distance of the closest microquasars in our galaxy, and especially <a href="http://arxiv.org/abs/0812.4232">one he thought was located at 1 kiloparsec</a>.
                            <br/>Hence, his now famous <a href="onekilopars.ec">signature</a>...
                        </p>

                        <!-- Contact -->
                        <div class="team-member__contact">
                            {#                            <a href="#" class="team-member-contact__item facebook">#}
                            {#                                <i class="fa fa-facebook"></i>#}
                            {#                            </a>#}
                            <a href="https://twitter.com/onekiloparsec" class="team-member-contact__item twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="mailto:cedric@arcsecond.io" class="team-member-contact__item email">
                                <span class="about-item-title__icon oi oi-envelope-closed" title="Telegrams" aria-hidden="true"></span>
                            </a>
                            {#                            <a href="#" class="team-member-contact__item google-plus">#}
                            {#                                <i class="fa fa-google-plus"></i>#}
                            {#                            </a>#}
                        </div>

                    </div> <!-- / .team__member -->

                </div>
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member">
                    </div> <!-- / .team__member -->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- CONTACT
    ============================== -->
    <div class="site-wrapper" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Feel free to <span class="text-primary">contact me</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Multi-time-zones support guaranteed! <a href="mailto:cedric@arcsecond.io">cedric@arcsecond.io</a>
                    </p>

                </div>
            </div> <!-- / .row -->

            {#            <div class="row">#}
            {#                <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">#}
            {##}
            {#                    <!-- Alert message -->#}
            {#                    <div class="alert contact-form__alert" id="form_message" role="alert"></div>#}
            {##}
            {#                    <!-- Setting the custom theme for reCaptcha.#}
            {#                         Default themes and customization:#}
            {#                         https://developers.google.com/recaptcha/docs/customization -->#}
            {##}
            {#                    <script type="text/javascript">#}
            {#                        var RecaptchaOptions = {#}
            {#                            theme : 'custom',#}
            {#                            custom_theme_widget: 'recaptcha_widget'#}
            {#                        };#}
            {#                    </script>#}
            {##}
            {#                    <!-- Contact form -->#}
            {#                    <!-- Please carefully read the README.txt file#}
            {#                     in order to setup the PHP contact form properly -->#}
            {#                    <form role="form" class="contact__form" id="form_sendemail">#}
            {#                        <div class="row">#}
            {#                            <div class="col-sm-6">#}
            {#                                <!-- Email -->#}
            {#                                <div class="form-group">#}
            {#                                    <label for="email" class="sr-only">Your email address</label>#}
            {#                                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail">#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div>#}
            {#                                <!-- Name -->#}
            {#                                <div class="form-group">#}
            {#                                    <label for="name" class="sr-only">Your name</label>#}
            {#                                    <input type="text" name="name" class="form-control" id="name" placeholder="Full Name">#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div>#}
            {##}
            {#                                <!-- reCAPTCHA -->#}
            {#                                <div class="form-group" id="form-captcha">#}
            {#                                    <!-- Start reCAPTCHA -->#}
            {#                                    <div id="recaptcha_widget" style="display:none">#}
            {#                                        <div class="recaptcha__merge">#}
            {#                                            <div class="recaptcha-merge__action">#}
            {#                                                <a href="javascript:Recaptcha.reload()">#}
            {#                                                    <span class="oi oi-loop-square"></span>#}
            {#                                                </a>#}
            {#                                                <a class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')">#}
            {#                                                    <span class="oi oi-headphones"></span>#}
            {#                                                </a>#}
            {#                                                <a class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')">#}
            {#                                                    <span class="oi oi-image"></span>#}
            {#                                                </a>#}
            {#                                            </div> <!-- / .recaptcha-merge__action -->#}
            {#                                            <!-- reCAPTCHA image -->#}
            {#                                            <div id="recaptcha_image"></div>#}
            {#                                        </div> <!-- / .recaptcha__merge -->#}
            {#                                        <div class="recaptcha_only_if_image text-muted">#}
            {#                                            Enter the words above (powered by reCaptcha):#}
            {#                                        </div>#}
            {#                                        <div class="recaptcha_only_if_audio text-muted">#}
            {#                                            Enter the numbers you hear (powered by reCaptcha):#}
            {#                                        </div>#}
            {#                                        <!-- reCAPTCHA input -->#}
            {#                                        <input class="form-control input-sm" type="text" id="recaptcha_response_field" name="recaptcha_response_field" />#}
            {#                                    </div> <!-- / #recaptcha_widget -->#}
            {##}
            {#                                    <script type="text/javascript"#}
            {#                                            src="http://www.google.com/recaptcha/api/challenge?k=YOUR_PUBLIC_KEY">#}
            {#                                    </script>#}
            {#                                    <noscript>#}
            {#                                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=YOUR_PUBLIC_KEY"#}
            {#                                                height="300" width="500" frameborder="0"></iframe><br>#}
            {#                                                  <textarea name="recaptcha_challenge_field" rows="3" cols="40">#}
            {#                                                  </textarea>#}
            {#                                        <input type="hidden" name="recaptcha_response_field"#}
            {#                                               value="manual_challenge">#}
            {#                                    </noscript>#}
            {#                                    <!-- End reCAPTCHA -->#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div> <!-- / .form-group -->#}
            {##}
            {#                            </div>#}
            {##}
            {#                            <div class="col-sm-6">#}
            {#                                <!-- Message -->#}
            {#                                <div class="form-group">#}
            {#                                    <label for="message" class="sr-only">Your message</label>#}
            {#                                    <textarea name="message" class="form-control" rows="11" id="message" placeholder="Message"></textarea>#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div> <!-- / .row -->#}
            {##}
            {#                        <div class="text-center">#}
            {#                            <button type="submit" class="btn btn-lg btn-default">#}
            {#                                <span class="oi oi-arrow-right" title="Send it" aria-hidden="true"></span>#}
            {#                                <span>Send message</span>#}
            {#                            </button>#}
            {#                            <div class="clearfix"></div>#}
            {#                        </div>#}
            {##}
            {#                    </form>#}
            {#                </div>#}
            {##}
            {#            </div> <!-- / .row -->#}

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->


    <!-- MAP
    ============================== -->
    <div class="site-wrapper">
        <div id="map-canvas" class="contact__map"></div>
    </div> <!-- / .site-wrapper -->

{% endblock %}


{% block after_body_raw_block %}
    {{ block.super }}

    {% include 'arcsecond/footer.html' %}

    <script src="{% static 'arcsecond/js/plugins/google-maps.js' %}"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                $('[data-toggle="popover"]').popover()
            });

            $('.selectpicker').selectpicker();

            $('.go-select').change(function(){
                var element = $(this).parents(".form-inline");
                element.find(".go-input").attr("placeholder", (this.selectedIndex == 0) ? "ex : 073.D-0473(A)" : "ex : 10340");
            });

            $(".go-button").click(function() {
                var element = $(this).parents(".form-inline");
                {% if settings.SITE_ID == 1 %}
                    var api_url = "http://127.0.0.1:8000";
                {% elif settings.SITE_ID == 2 %}
                    var api_url = "http://arcsecond-staging.herokuapp.com";
                {% else %}
                    var api_url = "http://api.arcsecond.io";
                {% endif %}
                api_url += element.find(".go-api").html().split("\n")[0];

                var api_select = element.find(".go-select");
                if (api_select.length == 1) {
                    api_url += api_select.val();
                }

                var api_select_suffix = element.find(".go-select-suffix");
                if (api_select_suffix.length == 1) {
                    api_url += api_select_suffix.html();
                }

                var input = element.find(".go-input").val();
                if (input) {
                    api_url += input;
                }

                var api_2 = element.find(".go-api-2");
                if (api_2.length == 1) {
                    api_url += api_2.html();
                }

                var api_input_2 = element.find(".go-input-2");
                if (api_input_2.length == 1) {
                    api_url += api_input_2.val();
                }

                var api_suffix = element.find(".go-api-suffix");
                if (api_suffix.length == 1) {
                    api_url += api_suffix.html();
                }
                window.open(api_url, '_blank');
            });
        });
    </script>

{% endblock after_body_raw_block %}
