{% extends 'arcsecond/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}
{% load hosts %}

{% block body_block %}

    <!-- WELCOME
    ============================== -->
    <div class="welcome_classic" id="welcome">
        <div class="welcome-classic__inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">

                        <!-- Pre heading -->
                        <p class="heading__pre">
                            Version 1 (alpha)
                        </p>

                        <!-- Heading -->
                        <h1 class="heading heading_lg">
                            Welcome to <span class="text-primary">arcsecond.io</span>
                        </h1>

                        <!-- Sub heading -->
                        <p class="heading__sub">
                            Unified REST APIs for astronomical information
                        </p>

                        <!-- Button -->
                        <div class="text-center">

                            <a href="#about" class="btn btn-xl btn-primary">
                                <span class="oi oi-arrow-right" title="Find out more" aria-hidden="true"></span>
                                <span>Learn how to feed your next astro app</span>
                            </a>

                        </div>

                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .container -->
        </div> <!-- / .classic-welcome__inner -->
    </div> <!-- / .welcome_classic -->


    <!-- ABOUT
    ============================== -->
    <div class="site-wrapper" id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <div class="lead text-center text">
                        <em>
                            <strong>arcsecond.io</strong> aims at providing <i>browsable</i> APIs where
                            each piece of astronomical information has its own <i>Uniform Resource Locator</i> (a.k.a. URL).
                            SIMBAD, NED, exoplanet.eu, JPL Horizons, astro telegrams are among the sources of information that
                            arcsecond.io intend to unify. Because we believe in the force of <strong>integration</strong>.
                        </em>
                    </div>
                    <div class="lead text-center text">
                        <em>
                            <strong>arcsecond.io</strong> is a service of <a href="http://onekilopars.ec">onekilopars.ec</a>, home of <a href="http://onekilopars.ec/apps">iObserve</a>, the best OS X and iOS apps for astronomers, as well as <a href="http://onekilopars.ec/open-source">multiple open-source and FITS-related goodies</a>.
                        </em>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->

    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        One access point: <span class="text-primary">api.arcsecond.io</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Our goal is to give access to as much information as possible, aggregating information with a philosophy centered around <em>resources</em>.
                        The APIs will incrementally be introduced here. To follow what's going on, read <a href="http://onekilopars.ec/blog">onekilopars.ec blog</a>.
                    </p>

                </div>
                <div class="col-sm-6">

                    <!-- About item #1 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/images/StarIcon_512x512.png' %}" border="0" width="25"> Objects
                        </h3>
                        <p class="about-item__content">
                            Objects are anything <a href="http://simbad.u-strasbg.fr/simbad/">SIMBAD</a> and <a href="http://ned.ipac.caltech.edu">NED</a> services understand. Enter the name of a known object and press Go! Still incomplete, but more details will be added.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/objects/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: GRO J1655-40">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-6">

                    <!-- About item #2 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/images/ExoplanetIcon_512x512.png' %}" border="0" width="25"> Exoplanets
                        </h3>
                        <p class="about-item__content">
                            Exoplanets are retrieved from <a href="http://exoplanet.eu">exoplanet.eu</a>. The current implementation is only partially complete, and the access to the whole catalogue will be added.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/exoplanets/</div>
                                    <input type="text" class="form-control go-input" placeholder="ex: 51 Peg b">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-6">

                    <!-- About item #3 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/images/AsteroidIcon_512x512.png' %}" border="0" width="25"> <img src="{% static 'arcsecond/images/CometIcon_175x175.png' %}" border="0" width="25"> Asteroids & Comets
                        </h3>
                        <p class="about-item__content">
                            Asteroids and Comets will be retrieved from the <a href="http://ssd.jpl.nasa.gov/?horizons">JPL Horizon service</a>.
                        </p>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-6">

                    <!-- About item #4 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/images/ObservatoryIcon_512x512.png' %}" border="0" width="25"> Observatories & Organisations
                        </h3>
                        <p class="about-item__content">
                            Observatories and Organisations are managed directly in arcsecond.io. It will be open for changes to registered users.
                        </p>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-6">

                    <!-- About item #5 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/images/BigTelescopeIcon_512x512.png' %}" border="0" width="25"> Telescopes & Instruments
                        </h3>
                        <p class="about-item__content">
                            Telescopes & Instruments are managed directly in arcsecond.io. It will be open for changes to registered users.
                        </p>
                    </div> <!-- / .about__item -->

                </div>
                <div class="col-sm-6">

                    <!-- About item #6 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <span class="about-item-title__icon oi oi-envelope-closed" title="Telegrams" aria-hidden="true"></span> Telegrams
                        </h3>
                        <p class="about-item__content">
                            Telegrams is high in the whishlist. GRBs, supernovae etc...
                        </p>
                    </div> <!-- / .about__item -->

                </div>

                <div class="col-sm-6">

                    <!-- About item #6 -->
                    <div class="about__item">
                        <h3 class="about-item__title">
                            <img src="{% static 'arcsecond/images/FITSIcon_512x512.png' %}" border="0" width="20"> Data Archives
                        </h3>
                        <p class="about-item__content">
                            Data Archives from <a href="http://archive.eso.org/eso/eso_archive_main.html">ESO</a>, <a href="http://archive.stsci.edu">MAST</a> etc. Wouldn't be cool, no? For the moment, I only have ESO programmes summary. But other archives as well as FITS data is planned.
                        </p>
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                                <div class="input-group">
                                    <div class="input-group-addon go-api">/{{ api_version }}/archives/
                                        <select class="go-select">
                                            <option>ESO</option>
                                            <option>HST</option>
                                            <option>MAST</option>
                                        </select>&nbsp;/
                                    </div>
                                    <input type="text" class="form-control go-input" placeholder="073.D-0473(A)">
                                    <div class="input-group-addon go-api-suffix">/summary/</div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default go-button">Go</button>
                        </form>
                    </div> <!-- / .about__item -->

                </div>

            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper_classic -->



    <!-- FEATURES
    ============================== -->
    <div class="site-wrapper" id="features">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        What about <span class="text-primary">astropy</span>?
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        <a href="http://astropy.org">astropy.org</a> is amazing! If arcsecond.io is the food, astropy is the brain. <br/>
                        In fact, some of the things behind arcsecond.io relies on astropy. Even better, we intend to be as much astropy-compliant as possible.
                    </p>

                </div>
            </div> <!-- / .row -->

            {#            <div class="row">#}
            {#                <div class="col-sm-6 col-md-5 col-md-offset-1">#}
            {##}
            {#                    <!-- Features item -->#}
            {#                    <div class="features__item">#}
            {##}
            {#                        <!-- Title -->#}
            {#                        <h3 class="features-item__title">#}
            {#                            <span class="text-primary">01.</span>#}
            {#                            Five color options#}
            {#                        </h3>#}
            {##}
            {#                        <!-- Summary -->#}
            {#                        <div class="features-item__summary">#}
            {#                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
            {#                        </div>#}
            {#                    </div> <!-- / .features__item -->#}
            {##}
            {#                </div>#}
            {#                <div class="col-sm-6 col-md-5">#}
            {##}
            {#                    <!-- Features item -->#}
            {#                    <div class="features__item">#}
            {##}
            {#                        <!-- Title -->#}
            {#                        <h3 class="features-item__title">#}
            {#                            <span class="text-primary">02.</span>#}
            {#                            Two menu types#}
            {#                        </h3>#}
            {##}
            {#                        <!-- Summary -->#}
            {#                        <div class="features-item__summary">#}
            {#                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at scelerisque diam, ut pellentesque leo. Morbi lacinia ut nibh eget euismod. Donec molestie odio sed leo interdum ultrices.#}
            {#                        </div>#}
            {#                    </div> <!-- / .features__item -->#}
            {##}
            {#                </div>#}
            {#            </div> <!-- / .row -->#}

        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- TEAM
    ============================== -->
    <div class="site-wrapper" id="team">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Play hard, <span class="text-primary">work hard</span>.
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        A team of hard-working enthusiastic single guy who's passionate about his softwares...
                    </p>

                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member">
                    </div> <!-- / .team__member -->

                </div>
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member team__member_chief">

                        <!-- Avatar -->
                        <div class="team-member__avatar">
                            <img class="img-responsive" src="{% static 'arcsecond/img/photo_1.jpg' %}" alt="...">
                        </div>

                        <!-- Info -->
                        <h4 class="team-member__name">Cédric Foellmi, Ph.D.</h4>
                        <p class="team-member__info">
                            A guy for a time interested by the distance of the closest microquasars in our galaxy, and especially <a href="http://arxiv.org/abs/0812.4232">one he thought was located at 1 kiloparsec</a>. Hence, his now famous signature...
                        </p>

                        <!-- Contact -->
                        <div class="team-member__contact">
                            {#                            <a href="#" class="team-member-contact__item facebook">#}
                            {#                                <i class="fa fa-facebook"></i>#}
                            {#                            </a>#}
                            <a href="https://twitter.com/onekiloparsec" class="team-member-contact__item twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="mailto:cedric@arcsecond.io" class="team-member-contact__item email">
                                <span class="about-item-title__icon oi oi-envelope-closed" title="Telegrams" aria-hidden="true"></span>
                            </a>
                            {#                            <a href="#" class="team-member-contact__item google-plus">#}
                            {#                                <i class="fa fa-google-plus"></i>#}
                            {#                            </a>#}
                        </div>

                    </div> <!-- / .team__member -->

                </div>
                <div class="col-sm-4">

                    <!-- Team member -->
                    <div class="team__member">
                    </div> <!-- / .team__member -->

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->



    <!-- CONTACT
    ============================== -->
    <div class="site-wrapper" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <!-- Heading -->
                    <h1 class="heading">
                        Feel free to <span class="text-primary">contact me</span>
                    </h1>

                    <!-- Sub heading -->
                    <p class="heading__sub">
                        Multi-time-zones support guaranteed! <a href="mailto:cedric@arcsecond.io">cedric@arcsecond.io</a>
                    </p>

                </div>
            </div> <!-- / .row -->

            {#            <div class="row">#}
            {#                <div class="col-sm-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">#}
            {##}
            {#                    <!-- Alert message -->#}
            {#                    <div class="alert contact-form__alert" id="form_message" role="alert"></div>#}
            {##}
            {#                    <!-- Setting the custom theme for reCaptcha.#}
            {#                         Default themes and customization:#}
            {#                         https://developers.google.com/recaptcha/docs/customization -->#}
            {##}
            {#                    <script type="text/javascript">#}
            {#                        var RecaptchaOptions = {#}
            {#                            theme : 'custom',#}
            {#                            custom_theme_widget: 'recaptcha_widget'#}
            {#                        };#}
            {#                    </script>#}
            {##}
            {#                    <!-- Contact form -->#}
            {#                    <!-- Please carefully read the README.txt file#}
            {#                     in order to setup the PHP contact form properly -->#}
            {#                    <form role="form" class="contact__form" id="form_sendemail">#}
            {#                        <div class="row">#}
            {#                            <div class="col-sm-6">#}
            {#                                <!-- Email -->#}
            {#                                <div class="form-group">#}
            {#                                    <label for="email" class="sr-only">Your email address</label>#}
            {#                                    <input type="email" name="email" class="form-control" id="email" placeholder="E-mail">#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div>#}
            {#                                <!-- Name -->#}
            {#                                <div class="form-group">#}
            {#                                    <label for="name" class="sr-only">Your name</label>#}
            {#                                    <input type="text" name="name" class="form-control" id="name" placeholder="Full Name">#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div>#}
            {##}
            {#                                <!-- reCAPTCHA -->#}
            {#                                <div class="form-group" id="form-captcha">#}
            {#                                    <!-- Start reCAPTCHA -->#}
            {#                                    <div id="recaptcha_widget" style="display:none">#}
            {#                                        <div class="recaptcha__merge">#}
            {#                                            <div class="recaptcha-merge__action">#}
            {#                                                <a href="javascript:Recaptcha.reload()">#}
            {#                                                    <span class="oi oi-loop-square"></span>#}
            {#                                                </a>#}
            {#                                                <a class="recaptcha_only_if_image" href="javascript:Recaptcha.switch_type('audio')">#}
            {#                                                    <span class="oi oi-headphones"></span>#}
            {#                                                </a>#}
            {#                                                <a class="recaptcha_only_if_audio" href="javascript:Recaptcha.switch_type('image')">#}
            {#                                                    <span class="oi oi-image"></span>#}
            {#                                                </a>#}
            {#                                            </div> <!-- / .recaptcha-merge__action -->#}
            {#                                            <!-- reCAPTCHA image -->#}
            {#                                            <div id="recaptcha_image"></div>#}
            {#                                        </div> <!-- / .recaptcha__merge -->#}
            {#                                        <div class="recaptcha_only_if_image text-muted">#}
            {#                                            Enter the words above (powered by reCaptcha):#}
            {#                                        </div>#}
            {#                                        <div class="recaptcha_only_if_audio text-muted">#}
            {#                                            Enter the numbers you hear (powered by reCaptcha):#}
            {#                                        </div>#}
            {#                                        <!-- reCAPTCHA input -->#}
            {#                                        <input class="form-control input-sm" type="text" id="recaptcha_response_field" name="recaptcha_response_field" />#}
            {#                                    </div> <!-- / #recaptcha_widget -->#}
            {##}
            {#                                    <script type="text/javascript"#}
            {#                                            src="http://www.google.com/recaptcha/api/challenge?k=YOUR_PUBLIC_KEY">#}
            {#                                    </script>#}
            {#                                    <noscript>#}
            {#                                        <iframe src="http://www.google.com/recaptcha/api/noscript?k=YOUR_PUBLIC_KEY"#}
            {#                                                height="300" width="500" frameborder="0"></iframe><br>#}
            {#                      <textarea name="recaptcha_challenge_field" rows="3" cols="40">#}
            {#                      </textarea>#}
            {#                                        <input type="hidden" name="recaptcha_response_field"#}
            {#                                               value="manual_challenge">#}
            {#                                    </noscript>#}
            {#                                    <!-- End reCAPTCHA -->#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div> <!-- / .form-group -->#}
            {##}
            {#                            </div>#}
            {##}
            {#                            <div class="col-sm-6">#}
            {#                                <!-- Message -->#}
            {#                                <div class="form-group">#}
            {#                                    <label for="message" class="sr-only">Your message</label>#}
            {#                                    <textarea name="message" class="form-control" rows="11" id="message" placeholder="Message"></textarea>#}
            {#                                    <span class="help-block"></span>#}
            {#                                </div>#}
            {#                            </div>#}
            {#                        </div> <!-- / .row -->#}
            {##}
            {#                        <div class="text-center">#}
            {#                            <button type="submit" class="btn btn-lg btn-default">#}
            {#                                <span class="oi oi-arrow-right" title="Send it" aria-hidden="true"></span>#}
            {#                                <span>Send message</span>#}
            {#                            </button>#}
            {#                            <div class="clearfix"></div>#}
            {#                        </div>#}
            {##}
            {#                    </form>#}
            {#                </div>#}

        </div> <!-- / .row -->
    </div> <!-- / .container -->
    </div> <!-- / .site-wrapper -->

    <!-- Google Map -->
    <div class="site-wrapper">
        <div id="map-canvas" class="contact__map"></div>
    </div> <!-- / .site-wrapper -->

{% endblock %}


{% block after_body_raw_block %}
    {{ block.super }}

    <script src="{% static 'arcsecond/js/plugins/google-maps.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();

            $(".go-button").click(function() {
                var input = $(this).parents(".form-inline").find(".go-input").val();
                if (input) {
                    var element = $(this).parents(".form-inline");
                    var api_url = "http://api.arcsecond.io";
                    api_url += element.find(".go-api").html().split("\n")[0];
                    var api_select = element.find(".go-select");
                    if (api_select.length == 1) {
                        api_url += api_select.val() + "/";
                    }
                    api_url += input;
                    var api_suffix = element.find(".go-api-suffix");
                    if (api_suffix.length == 1) {
                        api_url += api_suffix.html();
                    }
                    window.open(api_url, '_blank');
                }
                else {
                    alert("You need to enter some input.");
                }
            });
        });
    </script>

{% endblock after_body_raw_block %}
