{% extends 'arcsecond/blocks/navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block navbar_right_block %}
    {% include 'picolegends/blocks/current-user-navbar-dropdown.html' %}
{% endblock navbar_right_block %}

{% block body_block %}

    <div class="site-wrapper" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="profile-user__name">{% trans "Unknown user profile:" %} @{{ username }}</span>
                </div>
            </div>
        </div>
    </div>

{% endblock body_block %}

