{% extends 'arcsecond/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block head_end_block %}
    {{ block.super }}
    <script src="{% static 'arcsecond/js/observingsites-angular.js' %}"></script>
    <link href="{% static 'arcsecond/css/observingsites-angular.css' %}" rel="stylesheet">
{% endblock head_end_block %}

{% block navbar-right %}
    {% include 'arcsecond/user-navbar-dropdown.html' %}
{% endblock navbar-right %}

{% block body_block %}

    <div class="site-wrapper">

        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <h3 class="text-center"><img src="{% static 'arcsecond/images/ObservatoryIcon_512x512.png' %}" width=25px> Observing Sites</h3>
                {#                    <input type="text" class="form-control search-field" placeholder="Search by Name...">#}
            </div>
        </div>

        <div class="row" ng-controller="SitesListController as siteList">
            <div class="col-md-2 col-md-offset-1">
                <ul class="nav nav-pills nav-pills nav-stacked text-right left">
                    <li role="presentation" ng-repeat="continent in siteList.continents">
                        <a data-target="#" data-toggle="pill" href="#">[[continent.name]]
                            <span class="badge">[[ siteList.sites[continent.name].length ]]</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div id="map-canvas" class="sites__map"></div>
        </div>

    </div>

{% endblock body_block %}

{% block after_body_raw_block %}
    {{ block.super }}
    <script src="{% static 'arcsecond/js/observingsites-maps.js' %}"></script>
{% endblock after_body_raw_block %}

