{% extends 'arcsecond/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block extra_head_block %}
    {{ block.super }}
{% endblock extra_head_block %}

{% block navbar-right %}
    {% include 'arcsecond/current-user-navbar-dropdown.html' %}
{% endblock navbar-right %}

{% block body_block %}

    <div class="site-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-4">
                    <h3 class="text-center"><img src="{% static 'arcsecond/images/ObservatoryIcon_512x512.png' %}" width=25px> Observing Sites</h3>
                    <input type="text" class="form-control search-field" placeholder="Search by Name...">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <ul class="nav nav-pills nav-pills nav-stacked text-right">
                        <li role="presentation"><a href="#">Africa <span class="badge">{{ african_sites.count }}</span></a></li>
                        <li role="presentation"><a href="#">Antarctica <span class="badge">{{ antarctica_sites.count }}</span></a></li>
                        <li role="presentation"><a href="#">Asia <span class="badge">{{ asian_sites.count }}</span></a></li>
                        <li role="presentation"><a href="#">Europe <span class="badge">{{ european_sites.count }}</span></a></li>
                        <li role="presentation"><a href="#">North America <span class="badge">{{ north_american_sites.count }}</span></a></li>
                        <li role="presentation"><a href="#">Oceania <span class="badge">{{ oceania_sites.count }}</span></a></li>
                        <li role="presentation"><a href="#">South America <span class="badge">{{ south_american_sites.count }}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="site-wrapper">
            <div id="map-canvas" class="contact__map"></div>
        </div> <!-- / .site-wrapper -->
    </div>

{% endblock body_block %}

{% block after_body_raw_block %}
    {{ block.super }}
    <script src="{% static 'arcsecond/js/observingsites-maps.js' %}"></script>
{% endblock after_body_raw_block %}

