{% extends 'arcsecond/white-navbar.html' %}

{% load static %}
{% load i18n %}
{% load account %}
{% load socialaccount %}

{% block body_block %}

    <div class="site-wrapper" id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pull-left">
                    <div class="profile_user">
                        <div class="profile-user__avatar">
                            {% if user.profile.image %}
                                <img class="img-responsive" src="{% static 'arcsecond/img/photo_1.jpg' %}" alt="...">
                            {% else %}
                                <span class="oi oi-person" title="Avatar" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                        <div class="profile-user__name">
                            @{% user_display user %}
                        </div>
                        <div class="profile-user__name">
                            {{ user.get_full_name }}
                        </div>
                        <div class="profile-user__email">
                            {{ user.email }}
                            {% if user.profile.account_verified %}
                                <span class="about-item-title__icon oi oi-circle-check" aria-hidden="true"></span>
                            {% else %}
                                <span class="profile-user__verification">
                                    <span class="about-item-title__icon oi oi-circle-x" aria-hidden="true"></span>(unverified)
                                </span>
                            {% endif %}
                        </div>

                        {% get_social_accounts user as accounts %}
                        {% if accounts %}
                            <span class="profile-user__accounts">Connected Accounts:</span>
                            {% for account in accounts %}
                                <strong>{{ account }}</strong>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body_block %}
