html,body {
	padding-top: 50px;
}

.input-group .input-group-addon {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.input-group .form-control {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.input-description {
    height: 100px;
}
