.no-observingsites-here {
    text-align: center;
}

.observingsite {}

.observingsite .observingsite__meta {
    font-weight: bold;
    text-align: right;
    padding-bottom: 19px;
}

.observingsite .observingsite__meta a:hover {
    text-decoration: none;
}
