<div class="row" ng-cloak>
    <div class="col-sm-12">
        <div class="observingsite">
            <span class="observingsite__name">
                <a href="/observingsites/{{ observingsite.name }}/">
                    {{ observingsite.name }}
                </a>
            </span>
            <span class="observingsite__subtitle">
                {{ observingsite.country }}
            </span>
            <span class="observingsite__elements">
                (long. {{ observingsite.coordinates.longitude | number:2 }}º,
                lat. {{ observingsite.coordinates.latitude | number:2 }}º,
                h. {{ observingsite.coordinates.height | number:0}}m)
            </span>
        </div>
    </div>
</div>
