<div class="row">
    <div class="alert alert-info alert-dismissible" role="alert" ng-show="showAuthenticationWarning">
        <button type="button" class="close" aria-label="Close" ng-click="closeAlert(this)"><span aria-hidden="true">&times;</span></button>
        You must be logged in to update an observatory. <a ng-href="/accounts/login">Log in</a> or  <a ng-href="/accounts/register">register</a> for free in seconds.
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <img ng-src="/static/arcsecond/img/ObservatoryIcon_512x512.png" width="40"/>
    </div>
    <div class="col-md-4 col-md-offset-5 text-right">
        <span class="heading_with_menu">Original Sources:</span> <span class="heading__sub" ng-repeat="source in observingsitedetail.sources">{{ source || 'Unknown' }},</span>
        <span class="heading_with_menu">ID: </span><span class="heading__sub">{{ observingsitedetail.id || '?' }}</span>
        &nbsp;&nbsp;&nbsp;
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-text="A world-wide community-curated list of astronomical observing sites!"
           data-via="arcsecond_io"
           data-url="http://www.arcsecond.io/observingsites"
           data-hashtags="Data,Astro,SkyIsTheLimit">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h4 class="lighter">Metadata</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="observingsitedetail">
            <div class="observingsitedetail__text">
                <label class="edit">Name:</label>
                <span e-form="nameBtnForm" editable-text="observingsitedetail.name" rel="edit" onbeforesave="updateObservingSite('name', $data)">{{ observingsitedetail.name }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'nameBtnForm')" ng-show="!nameBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Short Name:</label>
                <span e-form="shortNameBtnForm" editable-text="observingsitedetail.short_name" rel="edit" onbeforesave="updateObservingSite('short_name', $data)">{{ observingsitedetail.short_name }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'shortNameBtnForm')" ng-show="!shortNameBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Zip Code:</label>
                <span e-form="zipCodeBtnForm" editable-text="observingsitedetail.zip_code" rel="edit" onbeforesave="updateObservingSite('zip_code', $data)">{{ observingsitedetail.zip_code }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'zipCodeBtnForm')" ng-show="!zipCodeBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">State or Province:</label>
                <span e-form="stateProvBtnForm" editable-text="observingsitedetail.state_province" rel="edit" onbeforesave="updateObservingSite('name', $data)">{{ observingsitedetail.state_province }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'stateProvBtnForm')" ng-show="!stateProvBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Country:</label>
                <span e-form="countryBtnForm" editable-text="observingsitedetail.country" rel="edit" onbeforesave="updateObservingSite('country', $data)">{{ observingsitedetail.country }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'countryBtnForm')" ng-show="!countryBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Continent:</label>
                <span e-form="continentBtnForm" editable-select="observingsitedetail.continent" e-ng-options="c for c in continents" rel="edit" onbeforesave="updateObservingSite('continent', $data)" onaftersace="showContinents()">{{ showContinents() || 'Undefined' }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'continentBtnForm')" ng-show="!continentBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="observingsitedetail">
            <div class="observingsitedetail__text">
                <label class="edit">Alternate Name 1:</label>
                <span e-form="altName1BtnForm" editable-text="observingsitedetail.alternate_name_1" rel="edit" onbeforesave="updateObservingSite('alternate_name_1', $data)">{{ observingsitedetail.alternate_name_1 }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'altName1BtnForm')" ng-show="!altName1BtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Alternate Name 2:</label>
                <span e-form="altName2BtnForm" editable-text="observingsitedetail.alternate_name_2" rel="edit" onbeforesave="updateObservingSite('alternate_name_2', $data)">{{ observingsitedetail.alternate_name_2 }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'altName2BtnForm')" ng-show="!altName2BtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Address Line 1:</label>
                <span e-form="addressLine1BtnForm" editable-text="observingsitedetail.address_line_1" rel="edit" onbeforesave="updateObservingSite('address_line_1', $data)">{{ observingsitedetail.address_line_1 }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'addressLine1BtnForm')" ng-show="!addressLine1BtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">Address Line 2:</label>
                <span e-form="addressLine2BtnForm" editable-text="observingsitedetail.address_line_2" rel="edit" onbeforesave="updateObservingSite('address_line_2', $data)">{{ observingsitedetail.address_line_2 }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'addressLine1BtnForm')" ng-show="!addressLine1BtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

            <div class="observingsitedetail__text">
                <label class="edit">IAU Code (see <a href="http://www.minorplanetcenter.net/iau/lists/ObsCodesF.html" rel="external" target="_blank">list</a>):</label>
                <span e-form="iauCodeBtnForm" editable-text="observingsitedetail.IAUCode" rel="edit" onbeforesave="updateObservingSite('IAUCode', $data)">{{ observingsitedetail.IAUCode }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'iauCodeBtnForm')" ng-show="!iauCodeBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h4 class="lighter">Links</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="observingsitedetail">
            <div class="observingsitedetail__url">
                <label class="edit">Homepage URL:</label>
                <span e-form="homepageBtnForm" editable-url="observingsitedetail.homepage" rel="edit" onbeforesave="updateObservingSite('homepage', $data)">{{ observingsitedetail.homepage }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'homepageBtnForm')" ng-show="!homepageBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="observingsitedetail">
            <div class="observingsitedetail__url">
                <label class="edit">Wikipedia Article URL:</label>
                <span e-form="wikipediaBtnForm" editable-url="observingsitedetail.wikipedia_article" rel="edit" onbeforesave="updateObservingSite('wikipedia_article', $data)">{{ observingsitedetail.wikipedia_article }}</span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'wikipediaBtnForm')" ng-show="!wikipediaBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h4 class="lighter">Coordinates</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="observingsitedetail">
            <div class="observingsitedetail__text_small">
                <label class="edit">Longitude (degrees) :</label>
                <span e-form="coordsLongitudeBtnForm" editable-text="observingsitedetail.coordinates.longitude" onbeforesave="checkLongitude($data)">
                    {{ observingsitedetail.coordinates.longitude }}
                </span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'coordsLongitudeBtnForm')" ng-show="!coordsLongitudeBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <label class="edit">(sexagesimal) :</label>
                {{ observingsitedetail.coordinates.longitude | sexagesimal }}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="observingsitedetail">
            <div class="observingsitedetail__text_small">
                <label class="edit">Latitude (degrees) :</label>
                <span e-form="coordsLatitudeBtnForm" editable-text="observingsitedetail.coordinates.latitude" onbeforesave="checkLatitude($data)">
                    {{ observingsitedetail.coordinates.latitude }}
                </span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'coordsLatitudeBtnForm')" ng-show="!coordsLatitudeBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <label class="edit">(sexagesimal) :</label>
                {{ observingsitedetail.coordinates.latitude | sexagesimal }}
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="observingsitedetail">
            <div class="observingsitedetail__text_small">
                <label class="edit">Altitude (meters) :</label>
                <span e-form="coordsAltitudeBtnForm"  editable-text="observingsitedetail.coordinates.height" onbeforesave="checkAltitude($data)">
                    {{ observingsitedetail.coordinates.height }}
                </span>
                <button type="button" class="btn btn-default btn-xs" ng-click="checkAndShow(this, 'coordsAltitudeBtnForm')" ng-show="!coordsAltitudeBtnForm.$visible">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map-canvas-square-container">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options"></ui-gmap-google-map>
        </div>
    </div>
</div>


