<div class="row" ng-cloak>
    <div ng-repeat="column in vm.columns">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div ng-repeat="observingsite in column">
                <observingsite observingsite="observingsite"></observingsite>
            </div>
        </div>
    </div>

    <div ng-hide="vm.columns && vm.columns.length">
        <div class="col-sm-12 no-observingsite-here">
            <em>The are no observing sites here.</em>
        </div>
    </div>
</div>
