<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Update Observing Site</h1>

        <div class="well">
            <form role="form" ng-submit="vm.update()">
                <input type="hidden" class="form-control" id="update__pk" ng-model="vm.pk" />

                <div class="form-group">
                    <label for="update__name">Email</label>
                    <input type="text" class="form-control" id="update__name" ng-model="vm.name" placeholder="ex. La Silla" />
                </div>

                <div class="form-group">
                    <label for="update__long_name">Username</label>
                    <input type="text" class="form-control" id="update__long_name" ng-model="vm.long_name" placeholder="ex. La Silla Observatory" />
                </div>

                <div class="form-group">
                    <label for="update__IAUCode">Password</label>
                    <input type="text" class="form-control" id="update__IAUCode" ng-model="vm.IAUCode" placeholder="ex. I29" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

