{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_utils %}
{% load socialaccount %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-3">
        <h1>{% trans "Log In" %}</h1>
        <p>{% blocktrans %}Don't have an account? Then please <a href="{{ signup_url }}">sign up</a>.{% endblocktrans %}</p>
        <br/>
    </div>



    <div class="col-md-3 col-md-offset-3">
        <a class="btn btn-block btn-social btn-twitter" href="{% provider_login_url "twitter" %}">
            <i class="fa fa-twitter"></i> Log in with Twitter </a>
        <a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" %}">
            <i class="fa fa-facebook"></i> Log in with Facebook</a>
        <a class="btn btn-block btn-social btn-github" href="{% provider_login_url "github" %}">
            <i class="fa fa-github"></i> Log in with GitHub </a>
        <a class="btn btn-block btn-social btn-flickr" href="{% provider_login_url "flickr" %}">
            <i class="fa fa-flickr"></i> Log in with Flickr </a>
        <a class="btn btn-block btn-social btn-linkedin" href="{% provider_login_url "linkedin_oauth2" %}">
            <i class="fa fa-linkedin"></i> Log in with LinkedIn </a>
        <div class="login-or">{% trans 'or' %}</div>
    </div>

    <form class="login form-horizontal" id="login_form" method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="col-md-8 col-md-offset-1">

            {% for field in form.visible_fields %}
                <div class="form-group" style="display:{% if field.type == 'hidden' %}none{% else %}block{% endif %}">
                    {% if field.label %}
                        <label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}_label" class="col-md-3 control-label">
                            {{ field.label }}
                        </label>
                    {% endif %}

                    <div class="col-md-5">
                        {{ field|add_css_attribute:'form-control' }}
                    </div>

                    {% if field.name == 'password' %}
                        <a class="button btn-block secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    {% endif %}
                </div>
            {% endfor %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="form-control" />
            {% endif %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
        </div>

        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-primary btn-block">{% trans "Log In" %} &raquo;</button>
        </div>
    </form>
{% endblock %}
