{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% load widget_utils %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-3">
        <h1>{% trans "Sign Up" %}</h1>
        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
        <br/>
    </div>

    <div class="col-md-3 col-md-offset-3">
        <a class="btn btn-block btn-social btn-twitter" href="{% provider_login_url "twitter" process="connect" %}">
            <i class="fa fa-twitter"></i> Sign up with Twitter </a>
{#        <a class="btn btn-block btn-social btn-facebook" href="{% provider_login_url "facebook" method="js_sdk" process="connect" %}">#}
{#            <i class="fa fa-facebook"></i> Sign up with Facebook</a>#}
        <a class="btn btn-block btn-social btn-github" href="{% provider_login_url "github" process="connect" %}">
            <i class="fa fa-github"></i> Sign up with GitHub </a>
{#        <a class="btn btn-block btn-social btn-flickr" href="{% provider_login_url "flickr" process="connect" %}">#}
{#            <i class="fa fa-flickr"></i> Sign up with Flickr </a>#}
{#        <a class="btn btn-block btn-social btn-linkedin" href="{% provider_login_url "linkedin_oauth2" process="connect" %}">#}
{#            <i class="fa fa-linkedin"></i> Sign up with LinkedIn </a>#}
        <div class="login-or">{% trans 'or' %}</div>
    </div>

    <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote">
                {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
            </p>
        {% endif %}

        <div class="col-md-8 col-md-offset-1">
            {% for field in form.visible_fields %}
                <div class="form-group" style="display:{% if field.type == 'hidden' %}none{% else %}block{% endif %}">
                    {{ field.errors }}

                    {% if field.label %}
                        <label for="{{ field.id_for_label }}" id="{{ field.id_for_label }}_label" class="col-md-3 control-label">
                            {{ field.label }}
                        </label>
                    {% endif %}

                    <div class="col-md-5">
                        {{ field|add_css_attribute:'form-control' }}
                    </div>
                </div>
            {% endfor %}

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" class="form-control" />
            {% endif %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
        </div>

        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-default btn-block">{% trans "Sign Up" %} &raquo;</button>
        </div>
    </form>

{% endblock %}
