{% extends 'ecliptis/base-navbar.html' %}

{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'ecliptis/about.css' %}" />
{% endblock head %}

{% block body_block %}

    <div class="starter-template">
        <h1 class="about-header">
            About eclipt.is, a service by <a href="http://onekilopars.ec">onekilopars.ec</a>
        </h1>
        <p class="lead"><strong>Goal:</strong> provide modern web access to astronomical information. That is, provide <i>browsable</i> APIs
            where each resource has its own <i>Uniform Resource Locator</i> (a.k.a. URL). Astronomy has often
            been in the forefront of data organisation and access on the web. However, contact with the web culture
            is not strong enough, and makes this information rarely accessible otherwise than through web <i>pages</i>,
            i.e. readable mostly by humans.
        </p>
        <p class="lead">
            The works under the Virtual Observatory is certainly an amazing achievement for the interoperability of
            systems in astronomy. Strangely, it doesn't fit my needs. And the whole workflow of data publishing and
            formatting remains largely different from a "web" way of doing, hence lacking the enormous benefit of all
            the software that is being created for it. This shift is certainly due to the lack of many
            small (and private) entities all rushing to develop new tools as business in this wild space of the WWW.
        </p>
        <p class="lead">
            The ambition behind <strong>eclipt.is</strong> is to bring some of the web culture to astro information, and provides
            <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful APIs</a>
            for various sources of astronomical information, thus enabling to build new <i>apps</i>. As a former
            professional astronomer, I've written tons of (Python) scripts. Scripts are good, but tend to generate more
            scripts. That's one of the reason I've built <a href="http://onekilopars.ec/apps">iObserve</a> (also for iPad). An app illustrates
            the value of <i>integration</i>.
        </p>
        <p class="lead"><strong>eclipt.is</strong> is also the result of a need that appeared when a colleague of mine convinced me to write iObserve 2.0.
            That is, a complete overhaul of my app, with new and exciting features, which need to rethink a bit the whole thing. And of
            of course, it rapidly appeared that if the app could rely on a server/web app which would do part of the job, things could
            be a lot more flexible. And it rapidly appeared that eclipt.is could actually be interesting for many other people.
        </p>
        <p class="lead">In other words, <strong>eclipt.is</strong> is the backend of the coming iObserve 2. <strong>And the
            backend of your app too!</strong>
        </p>
        <p class="lead">
            The scope of eclipt.is is potentially enormous. This project is meant to evolve in the coming years.<br/> <h5>June 2015.</h5>
        </p>
    </div>

{% endblock %}