{% extends 'picolegends/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'picolegends/about.css' %}" />
{% endblock head %}

{% block body_block %}

    <div class="starter-template">
        <h1 id="aboutHeader">{% blocktrans %}About iObserve Server{% endblocktrans %}</h1>
        <p class="lead" id="aboutBody">{% blocktrans %}The origin of iObserve-Server is to be found long ago...{% endblocktrans %}</p>
    </div>

    {% include "picolegends/footer.html" %}

{% endblock %}