{% extends 'iobserve/base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block before_body_raw_block %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" id="navbarBrandLabel">eclipt.is</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active" id="navbar-brand-subtitle"><small>Unified REST APIs for astronomical information</small>
                </ul>
                {% block navbar-left %}{% endblock navbar-left %}
                {% block navbar-right %}{% endblock navbar-right %}
            </div>

        </div> <!-- container-fluid -->
    </div> <!-- navbar -->

{% endblock before_body_raw_block %}
