
{% load staticfiles %}
{% load i18n %}
{% load account %}

<div class="navbar-form navbar-right" role="form">

    {% if user.is_authenticated %}

        <div class="btn-group">
            <button type="button" class="btn btn-info">
                <img src="{{ request.user.profile.profile_image_url }}" width=18px />&nbsp;{{ user.username }}
                {% if user.profile.account_verified %} (verified) {% else %} (unverified) {% endif %}
            </button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">User</a></li>
                <li class="divider"></li>
                <li><a href="#">Settings</a></li>
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
            </ul>
        </div>

    {% else %}

        <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'account_login' %}';">{% trans "Log in" %}</button>
        <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'account_signup' %}';">{% trans "Sign up" %}</button>

    {% endif %}

</div>
