{% extends 'iobserve/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block extra_head_block %}
    <link rel="stylesheet" href="{% static 'css/earth_home.css' %}" />
{% endblock extra_head_block %}

{% block navbar-right %}
    {% include 'iobserve/current-user-navbar-dropdown.html' %}
{% endblock navbar-right %}

{% block body_block %}

    <div class="row">
        <div class="col-md-6 text-center">
            <img src="{% static 'images/ObservatoryIcon_512x512.png' %}" width=100px>
            <h2>REST APIs v{{ api_version }}</h2>
            <p class="input-description">
                Here is the access point to worldwide observatories using REST principles. This is what
                your scripts and (web) apps are looking for.
            </p>
            <div class="input-group">
                <span class="input-group-addon">/earth/{{ api_version }}/observatory/</span>
                <input type="text" class="form-control" placeholder="name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
            </div>
            <br/>
            <p><button type="button" class="btn btn-info btn-block" onclick="window.location.replace('/earth/{{ api_version }}/observatories/La Silla')">Test an sample object</button>
            <p><button type="button" class="btn btn-info btn-block">Read the doc</button></p>
        </div>

        <div class="col-md-6 text-center">
            <img src="{% static 'images/ObservatoryIcon_512x512.png' %}" width=100px>
            <h2>Browse & Edit v{{ api_version }}</h2>
            <p class="input-description">
                Browse, edit, explore, create new observatories in the world.
            </p>
            <p><button type="button" class="btn btn-info btn-block" onclick="window.location.href='{% url 'iobserve:earth-browse' %}'">Go!</button></p>
        </div>
    </div>

    <br/><br/>
    <div class="row">
        <div class="col-md-12">
            <h3>Looking for Stars <img src="{% static 'images/StarIcon_512x512.png' %}" width=40px>, Exoplanets <img src="{% static 'images/ExoplanetIcon_512x512.png' %}" width=40px> and Small Bodies <img src="{% static 'images/AsteroidIcon_512x512.png' %}" width=40px>?
                <button type="button" class="btn btn-default" onclick="window.location.replace('/sky')">Yes</button></h3>
        </div>
    </div>

{% endblock %}

