{% load static %}

<div class="footer" id="footer">
  <div class="container">
    <p class="text-muted">
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
This is a service of <a href="http://onekilopars.ec">onekilopars.ec</a>. –– <font color="black">&copy; onekilopars.ec (2015)</font> –– <a href="https://twitter.com/onekiloparsec" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @onekiloparsec</a>
    </p>
  </div>
</div>
