{% extends 'iobserve/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}
{% load hosts %}

{% block body_block %}
    <div class="jumbotron">
        <div class="container">
            <h2>
                <strong>eclipt.is API</strong>, a service by <a href="http://onekilopars.ec">onekilopars.ec</a>
            </h2>
            <p><strong>Goal:</strong> provide modern web access to astronomical information. That is, provide <i>browsable</i> APIs
                where each resource has its own <i>Uniform Resource Locator</i> (a.k.a. URL).
                See <a href="{% host_url 'about' host 'www' %}">About</a>.
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Sky</h2><br/>
            <img src="{% static 'iobserve/images/StarIcon_512x512.png' %}" width=100px>
            <img src="{% static 'iobserve/images/ExoplanetIcon_512x512.png' %}" width=100px>
            <img src="{% static 'iobserve/images/AsteroidIcon_512x512.png' %}" width=100px><br/><br/><br/>
            <p><a class="btn btn-default" href="/sky" role="button" id="latestFragmentsButton1">Choose</a></p>
        </div>

        <div class="col-md-6 text-center">
            <h2>Earth</h2><br/>
            <img src="{% static 'iobserve/images/ObservatoryIcon_512x512.png' %}" width=100px>
            <img src="{% static 'iobserve/images/BigTelescopeIcon_512x512.png' %}" width=100px><br/><br/><br/>
            <p><a class="btn btn-default" href="/earth" role="button" id="latestFragmentsButton1">Choose</a></p>
        </div>
    </div>
{% endblock %}