{% extends 'iobserve/base-navbar.html' %}

{% load staticfiles %}
{% load i18n %}

{% block body_block %}
    <div class="jumbotron">
        <div class="container">
            <h2>
                <strong>eclipt.is</strong>, a service by <a href="http://onekilopars.ec">onekilopars.ec</a>
            </h2>
            <p>The goal is to provide modern web access to astronomical information, that is, <i>browsable</i> APIs
                where each resource has its own (that is, unique) <i>Uniform Resource Locator</i> (a.k.a. URL). Astronomy has often
                been in the forefront of organising its big data on the web, making available tons of useful information.
                However, contact with the web culture is not strong enough, and makes this information rarely accessible otherwise than
                through web <i>pages</i>, i.e. readable mostly by humans.
            </p>
            <p>
                The ambition behind <b>eclipt.is</b> is to bring some of the web culture to that information, and provides
                <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful APIs</a>
                for various sources of astronomical information, thus enabling to build new <i>apps</i>. As a former
                professional astronomer, I've written tons of (Python) scripts. Scripts are good, but tend to generate more
                scripts. That's one of the reason I've built <a href="http://onekilopars.ec/apps">iObserve</a> (also for iPad). An app illustrates
                the value of <i>integration</i>.<br/> Logically, <b>eclipt.is</b> is also built for being the backend of the coming iObserve 2.
            </p>
            <p>
                The scope of eclipt.is is potentially enormous. This project is meant to evolve in the coming years.<br/> <h5>June 2015.</h5>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Sky</h2><br/>
            <img src="{% static 'iobserve/images/StarIcon_512x512.png' %}" width=100px>
            <img src="{% static 'iobserve/images/ExoplanetIcon_512x512.png' %}" width=100px>
            <img src="{% static 'iobserve/images/AsteroidIcon_512x512.png' %}" width=100px><br/><br/><br/>
            <p><a class="btn btn-default" href="/sky" role="button" id="latestFragmentsButton1">Choose</a></p>
        </div>

        <div class="col-md-6 text-center">
            <h2>Earth</h2><br/>
            <img src="{% static 'iobserve/images/ObservatoryIcon_512x512.png' %}" width=100px>
            <img src="{% static 'iobserve/images/BigTelescopeIcon_512x512.png' %}" width=100px><br/><br/><br/>
            <p><a class="btn btn-default" href="/earth" role="button" id="latestFragmentsButton1">Choose</a></p>
        </div>
    </div>
{% endblock %}